<% include ../layouts/head %>

<body>
<% include ../layouts/nav-global %>

	<div class="container">
		<div id="category-banner" class="row">
			<img src="" data-name="" width=100%>
		</div>
	</div>

	<div class="container">
		<div class="row main-top">
			<div class="col-xs-6">
				<p style="padding:10px 0;margin:0;">전체 (<span class="items-count">0</span>)</p>
			</div>
			<div class="col-xs-6 text-right"></div>
		</div>

		<div class="row" id="series-list" style="min-height:1000px;"></div>
	</div>

<% include ../layouts/footer %>

<script type="text/javascript">
const SHOWCASE = '<%=showcase%>';
const CATEGORY = '<%=category%>';

$(function(){
	Catalogs.showcase(SHOWCASE, {"id": [CATEGORY]}, GetCategoryID);
});

function GetCategoryID(res) {
	var category = res.showcases[0].attr.category;
	$('#category-banner img').attr('data-name', res.showcases[0].attr.image);
	Catalogs.loadImages($('#category-banner img'));
	Catalogs.category(category, {"showcase":["series"]}, GetShowcaseID);
}

function GetShowcaseID(res) {
	var series = [];
	res.categories.forEach(function(cat) {
		series.push(cat.id);
	});
	Catalogs.showcase('series', {"id": series}, RenderSeriesList);
}

function RenderSeriesList(res) {
	var series = [];
	$('.items-count').text(res.showcases.length);
	res.showcases.forEach(function(s) {
		series.push(s.attr);
	});
	Catalogs.renderIn($('#series-list'), '/r/series/list/b', {'series': series}, getSeriesMeta);
}

function getSeriesMeta(html) {
	var series_ids = [];
	$('.media').each(function(i, s) {
		series_ids.push($(s).attr('id'));
	});
	Catalogs.seriesMeta(series_ids, renderSeriesMetaIn);
}

function renderSeriesMetaIn(res) {
	var series = res.series;
	for (sid in series) {
		var s = series[sid];
		$('#'+sid).find('.author').text(s.author);
		$('#'+sid).find('.genre').text(s.genre);
		if (s.finished && (s.finished=='yes')) $('#'+sid).find('.labels').prepend('<span class="label label-finished">완결</span> ');
		if (s['high-resolution'] && (s['high-resolution']=='yes')) $('#'+sid).find('.labels').prepend('<span class="label label-hd">HD</span> ');
		if ($.trim($('#'+sid).find('.labels').text()) == '') $('#'+sid).find('.labels').remove();
	}
}
</script>
</body>
</html>
