<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div id="series-info" class="row" data-series="<%=series_id%>"></div>
	</div>

	<div class="container">
		<div class="row items-top">
			<div class="col-xs-4">
				전체 (<span class="items-count">0</span>)
			</div>
			<div class="col-xs-8 text-right">
				<label class="radio-inline iradio checked">
					<input type="radio" name="sort-items" onclick="sortItemList('oldest');" value="oldest" checked> 출간순
				</label>
				<label class="radio-inline iradio">
					<input type="radio" name="sort-items" onclick="sortItemList('latest');" value="latest"> 최신순
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<button type="button" class="btn btn-success btn-lg  btn-block"
					onclick="<% if (user) { %>Store.openCart('select');<% } else { %>requiredLogin();<% } %>">
					선택 구매
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg btn-block"
					onclick="<% if (user) { %>Store.openCart('all');<% } else { %>requiredLogin();<% } %>">
					전편 구매
				</button>
			</div>
		</div>
	</div>

	<div>
		<div class="container">
			<div id="series-items" class="row"></div>
		</div>

		<div class="container index-section" style="margin-top:10px;">
			<div class="row section-head"><div class="col-xs-12"><h4>같은 장르의 추천작</h4></div></div>
			<div class="section-body row-fluid-wrap row"><div id="related-genre" class="row-fluid for-tag"></div></div>
		</div>

		<div class="container index-section">
			<div class="row section-head"><div class="col-xs-12"><h4>이 작가의 작품들</h4></div></div>
			<div class="section-body row-fluid-wrap row"><div id="related-author" class="row-fluid for-tag"></div></div>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>
<% include ../partials/modals/modal-purchase %>

<script type="text/javascript">
var expiredTimerInst;

$(function(){
	loadSeriesInfo('<%=series_id%>');
	Store.setBasePoint('O_0000_000000009');
});

function loadSeriesInfo(series_id) {
	Catalogs.showcase('series', { "series": [series_id] }, function(res) {
		var series = res.showcases[0].attr;
		Catalogs.seriesMetaData([series.series], function(meta) {
			series = mergeObjects(series, meta[series.series]);
			//console.log(series);
			Catalogs.renderIn($('#series-info'), '/r/series/detail-a', {'data': series}, function(html) {
				loadRelatedGenreSeries(series['genre-code']);
				loadRelatedAuthorSeries(series['author-code']);
				loadSeriesItems(series, 'oldest');

				<% if (user) { %>
				setUserFavorites();
				<% } %>
			});
		});
	});
}

function loadRelatedGenreSeries(genre_code) {
	Catalogs.category(genre_code, {"showcase": ["series"], "location": 0, "length": 10}, function(cat) {
		var showcase_ids = [];
		cat.categories.forEach(function(cat){ showcase_ids.push(cat.id); });
		Catalogs.showcase('series', {"id":showcase_ids}, function(res) {
			var series = [];
			res.showcases.forEach(function(s){ series.push(s.attr); });
			Catalogs.renderIn($('#related-genre'), '/r/series/list-a', {'data': series});
		});
	});
}

function loadRelatedAuthorSeries(author_code) {
	Catalogs.category(author_code, {"showcase": ["series"]}, function(cat) {
		var showcase_ids = [];
		cat.categories.forEach(function(cat){ showcase_ids.push(cat.id); });
		Catalogs.showcase('series', {"id":showcase_ids}, function(res) {
			var series = [];
			res.showcases.forEach(function(s){ series.push(s.attr); });
			Catalogs.renderIn($('#related-author'), '/r/series/list-a', {'data': series});
		});
	});
}

function setUserFavorites() {
	var like_it = $('#like-it');
	if (like_it) {
		Users.getFavorites(like_it.attr('data-series'), function(res){
			if (res.series_id) like_it.find('.fa').removeClass('fa-heart-o').addClass('fa-heart');
		});
	}
}

/* loadSeriesItems Process */

function loadSeriesItems(series_info, sort) {
	var sort = sort || 'oldest';

	Catalogs.seriesItems(series_info.series, sort, function(res){
		var SERIES_ITEMS = res.items;
		$('.items-count').text(SERIES_ITEMS.length);

		Users.cloud.haveItems(function(res){
			var HAVE_ITEMS = {}, HAVE_ITEM_IDS = [];

			res.items.forEach(function(item){
				HAVE_ITEMS[item.item_id] = item;
				HAVE_ITEM_IDS.push(item.item_id);
			});

			SERIES_ITEMS.forEach(function(item){
				if (HAVE_ITEM_IDS.indexOf(item.id) > -1) {
					if (HAVE_ITEMS[item.id].expired_at) {
						item['purchased-type'] = 'rental';
						item['rental-expired-at'] = HAVE_ITEMS[item.id].expired_at;
					}  else {
						item['purchased-type'] = 'permanent';
					}
				}
				item['discount-rate'] = series_info['discount-rate'] || '';
				item['adult-only'] = series_info['adult-only'] || '';
			});
//console.log(SERIES_ITEMS);
			Catalogs.renderIn($('#series-items'), '/r/item/list-a', {'data': SERIES_ITEMS}, function(html) {
				checkRentalTimer();
				if ($('button.open[data-expired]').length > 0) expiredTimerInst = setInterval(checkRentalTimer, 60000);
				$('button.open').click(function(e){ goUrl('/comic/'+$(this).attr('data-item')); });
				$('button.preview').click(function(e){ goUrl('/comic/'+$(this).attr('data-item')+'?mode=preview'); });
			});
		});
	});
}
</script>
</body>

</html>
