<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="row main-banner">
			<img src="" data-name="" width="100%">
		</div>

		<div class="row items-top">
			<div class="col-xs-6">
				<p style="padding:5px 0;margin:0;">전체 (<span class="items-count">0</span>)</p>
			</div>
			<div class="col-xs-6 text-right">
				<div class="form-inline" id="genre-selector"></div>
			</div>
		</div>

		<div class="row" id="series-list"></div>
		<div class="no-series" style="display:none;">
			<h4 class="text-center" style="padding:40px 0;color:#ccc;">작품이 없습니다</h4>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
var SET = {}, PRESETS = {
	'series.refer': {'banner': 'B_REFER_001.jpg', 'sort': 'refer-group,desc'},
	'series.first': {'banner': 'B_FIRST_001.jpg', 'sort': 'first-sort,asc'},
	'series.free': {'banner': 'B_FREE_001.jpg', 'sort': 'free-sort,asc'},
	'update': {'banner': 'B_UPDATE_001.jpg', 'sort': 'id,desc'}
}

$(function(){

	SET = PRESETS['<%=showcase_id%>'] || {};

	loadGenreSelector($('#genre-selector'), 'b');
	loadMainBanner();
	loadSeriesList('<%=showcase_id%>');

});

function loadMainBanner() {
	if (SET.banner) {
		$('.main-banner img').attr('data-name', SET.banner);
		Catalogs.loadImages($('.main-banner img'));
	} else {
		$('.main-banner').empty();
	}
}

function loadSeriesList(showcase) {
	Catalogs.auxiliary(showcase, {}, function(series) {
		console.log(series);
		var series_ids = [];
		if (SET.sort) {
			var sort = SET.sort.split(',');
			var key = sort[0], ord = sort[1];
			if (ord.toLowerCase() == 'asc') series.sort(function(a,b){ return (a[key] > b[key]) ? 1 : -1; });
			if (ord.toLowerCase() == 'desc') series.sort(function(a,b){ return (a[key] < b[key]) ? 1 : -1; });
		}
		series.forEach(function(s) { series_ids.push(s.series); });
		$('.items-count').text(series.length);

		Catalogs.seriesMetaData(series_ids, function(metas) {
			series.forEach(function(s) {
				var id = s.series;
				s['high-resolution'] = metas[id]['high-resolution'] || '';
				s['finished'] = metas[id]['finished'] || '';
			});

			Catalogs.renderIn($('#series-list'), '/r/series/list-c', {'data': series});
		});
	}); // auxiliary
}

</script>
</body>
</html>
