<div class="input-group-btn" id="search-genre-selector">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span id="search-genre-label">전체 장르</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="search-genre-selector">
  <% data.forEach(function(g) {%>
    <li><a href="javascript:changeSearchGenre('<%=g.attr.category%>');" data-code="<%=g.attr.category%>"><%=g.attr.genre%></a></li>
  <% }); %>
  </ul>
</div>
