<select class="form-control" name="genre-select" id="genre-selector" onchange="changeListByGenre($(this).val());return false;">
	<% data.forEach(function(g) {%>
	<option value="<%=g.attr.category%>"><%=g.attr.genre%></option>
	<% }); %>
</select>
