<div class="dropdown pull-right" id="genre-selector">
	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<span id="genre-label">전체장르</span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="genre-selector">
	<% data.forEach(function(g) {%>
		<li><a href="javascript:changeRankingByGenre('<%=g.attr.category%>');" data-code="<%=g.attr.category%>"><%=g.attr.genre%></a></li>
	<% }); %>
	</ul>
</div>
