<div id="footer" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 company">
				<p>
					<a href="/docs/contract">이용약관</a>
					<a href="/docs/private">개인정보 수집 및 이용</a>
					<a href="/support">고객지원</a>
				</p>
				<p>
					(주)디씨더블유 대표 오태엽<br/>
					사업자등록번호 : 106-86-73635 |
					통신판매업 신고번호 : 제 2012-서울용산-00431호 |
					주소 : 서울특별시 용산구 한강대로 148, 2층(한강로2가, 케이티빌딩)<br/>
					대표전화 : 02-793-7745 (발신자 부담전화) |
					팩스 : 02-793-7716 |
					개인정보보호관리책임자 : 김민수 mskim@dcworks.co.kr
				</p>
				<p>&copy; DCW, Inc.</p>
			</div>
		</div>
	</div>
</div>

<% include ../partials/modals/modal-search %>
<% include ../partials/modals/modal-confirm %>
<% include ../partials/modals/modal-adult %>

<!-- ajax load spinner -->
<div id="spinner-box">
	<img src="/images/common/rolling.svg">
</div>

<!-- scroll top button -->
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </span>
</div>
