<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<title>mannal :: 만/화/보/는/ 날/</title>

	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/font-awesome4/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css"/>
	<link rel="stylesheet" type="text/css" href="/css/common.css"/>

	<!-- scripts -->
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.bootstrap-growl.js"></script>
	<script type="text/javascript" src="/slick/slick.min.js"></script>
	<script type="text/javascript" src="/js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="/js/jquery.slidereveal.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>

	<script type="text/javascript" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script>

	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/search.js"></script>
	<script type="text/javascript" src="/js/users.js"></script>
	<script type="text/javascript" src="/js/catalogs.js"></script>
	<script type="text/javascript" src="/js/store.js"></script>

	<script type="text/javascript" src="//shop-test.bookjam.co.kr/externalJS/bookjampayments.js"></script>

<script>
/* dom ready event init */
$(function(){
	/* sidebar menu setup */
	<% if (!is_phone) { %>
	$("#sidebar-on").click(function(e){
		e.preventDefault();
		var el = $('#sidebar');
		if (el.css('display') == "none")  { el.css('display', 'block'); $('#searchbar').hide(); }
		else if (el.css('display') == 'block') { el.css('display', 'none'); }
	});
	<% } else { %>
	$('#sidebar-mobile').slideReveal({ trigger: $('#sidebar-on'), push: false, overlay: true, position: "left" });
	<% } %>
});

/* bookjam payment callbacks */
bookjamPayment.callState = '';
bookjamPayment.successFunction = function(retval) {
	if ($('#modal-charge').length > 0) {
		ga('ec:setAction', 'purchase', {
			'id': retval.product_id,
			'revenue': retval.purchase_info.price,
			'option': $('intput[name=charge_method]:checked').val()
		});
		$('#modal-charge').modal('hide');
		Users.cloud.getPoints(function(res){
			mAlert('코인이 충전 되었습니다.', 'success');
			setTimeout(function() { document.location.reload(true); }, 2000);
		});
	} else {
		$('#modal-adult').modal('hide');
		Users.cloud.getAdult(function(res){
			mAlert('본인 인증이 완료 되었습니다.', 'success');
			setTimeout(function() { document.location.reload(true); }, 2000);
		});
	}
};

bookjamPayment.errorFunction = function(retval) {
	if ($('#modal-charge').length > 0) {
		$('#modal-charge').modal('hide');
		mAlert('코인 충전이 취소/중지 되었습니다.', 'danger');
		return false;
	} else {
		$('#modal-adult').modal('hide');
		mAlert('본인 인증이 취소/중지 되었습니다.', 'danger');
		return false;
	}
};
</script>
</head>
