<% if (is_phone) { %>
	<% include nav-sidebar %>
<% } %>
<% if (typeof active_menu == 'undefined') active_menu = ''; %>

<!-- nav-global -->
<nav class="navbar default-bg-color navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<a href="#" id="sidebar-on" class="drawer-open"><i class="fa fa-bars" aria-hidden="true"></i></a>
				<% if (!is_phone) { %>
					<% include ./nav-sidebar %>
				<% } %>
			</div>
			<div class="col-xs-4 text-center">
				<a href="/" class="logo"><img src="/images/common/simple_logo.svg"></a>
			</div>
			<div class="col-xs-4 text-right" style="position:relative;">
				<span id="nav-adult-check"></span>
				<a href="#" data-toggle="modal" data-target="#modal-search">
					<i class="fa fa-search" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="row navbar-extended">
		<div class="container text-center">
			<a href="/prime" class="<%=(active_menu=='prime')?'active':''%>">프라임</a>
			<a href="/series/series.first" class="<%=(active_menu=='series.first')?'active':''%>">퍼스트</a>
			<a href="/everyday" class="<%=(active_menu=='everyday')?'active':''%>">매일연재</a>
			<a href="/series/series.refer" class="<%=(active_menu=='series.refer')?'active':''%>">추천</a>
			<a href="/ranking/weekly" class="<%=(active_menu=='ranking')?'active':''%>">랭킹</a>
		</div>
	</div>
</nav>
