<!-- nav-sidebar : desktop -->
<div id="sidebar<%=(is_phone)?'-mobile':''%>" class="sidebar">
	<div class="profile" style="<%=(user) ? 'padding-top:40px;' : ''%>">
		<% if (!user) { %>
			<img src="/images/common/full_logo.svg" class="full-logo">
			<div class="col-xs-12">
				<button type="button" class="btn btn-default btn-block" onclick="goUrl('/login');">로그인</button>
				<button type="button" class="btn btn-success btn-block" onclick="goUrl('/register');">회원가입</button>
			</div>
		<% } else { %>
			<input type="hidden" id="user-id" value="<%=(user) ? user.id : ''%>">
			<p id="user-name" class="user-name"><%=user.name%></p>
			<p class="user-coin">
				<a href="/charge" style="color:#fff;">
					<span class="glyphicon glyphicon-copyright-mark"></span>
					<span id="user-points" style="text-decoration:underline;">0</span>
					<span>코인</span>
				</a>
			</p>
			<div class="col-xs-12">
				<button type="button" class="btn btn-default btn-block" onclick="usersLogout();">로그아웃</button>
			</div>
		<% } %>
	</div>
	<ul class="menu">
		<% if (user) { %>
			<li>
				<a href="/bookshelf">
					<img src="/images/common/sidebar_icon_bookshelf.svg" class="sidebar-icon"> 보관함
				</a>
			</li>
			<li>
				<a href="/charge">
					<img src="/images/common/sidebar_icon_coin.svg" class="sidebar-icon"> 코인 충전
				</a>
			</li>
			<!--
			<li>
				<a href="/coupon">
					<img src="/images/common/sidebar_icon_coupon.svg" class="sidebar-icon"> 쿠폰 등록
				</a>
			</li>
		-->
			<li>
				<a href="/receipts" target=_self>
					<img src="/images/common/sidebar_icon_list.svg" class="sidebar-icon"> 구매 내역
				</a>
			</li>
		<% } %>
		<li>
			<a href="/support">
				<img src="/images/common/sidebar_icon_help.svg" class="sidebar-icon"> 고객지원
			</a>
		</li>
		<li>
			<a href="/notice">
				<img src="/images/common/sidebar_icon_notice.svg" class="sidebar-icon"> 공지사항
			</a>
		</li>
	</ul>
</div>
<!-- /nav-sidebar -->
