<% data.forEach(function(c) { %>
    var out = '';
    var product_name = $('input[name=product_id][value="' + p.product_id + '"]').parent('label').text() || p.product_id;
    out += '<li class="list-group-item col-xs-12">';
    out += '  <div class="col-xs-6">' + getDateFormat(p.created_at, 'Y-m-d h:i:s') + '</div>';
    out += '  <div class="col-xs-6 text-right">' + withCommas(p.amount) + ' 코인 충전</div>';
    out += '</li>';
    $('#log-charged').append(out);
<% }); %>
