<% include layouts/head %>

<body>
<div class="content-wrapper">

<% include layouts/nav-global %>

	<div class="container">
		<div id="main-banners" class="row"></div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4><img src="/images/common/icon_recommend.svg" class="section-icon"/> 추천만화</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/series/series.refer" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="series-refer" class="row-fluid for-tag"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_prime.svg" class="section-icon"/>
					만날 프라임
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/prime" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="prime-banners-wrap" class="row-fluid for-tag" style="height:500px;"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_first.svg" class="section-icon"/>
					만날 퍼스트
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/series/series.first" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="series-first" class="row-fluid for-tag"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_series.svg" class="section-icon"/>
					매일 연재!
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/everyday" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body">
			<div id="everyday-series" class="row"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_top20.svg" class="section-icon"/>
					TOP 20
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/ranking/weekly" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="ranking-top20" class="row-fluid for-tag" style="height:550px;"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_free.svg" class="section-icon"/>
					무료만화
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/series/series.free" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="series-free" class="row-fluid for-tag"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_theme.svg" class="section-icon"/>
					테마관
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/theme" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="themes-wrap" class="row-fluid for-tag" style="height:160px;"></div>
		</div>
	</div>

	<div class="container index-section">
		<div class="row section-head">
			<div class="col-xs-6">
				<h4>
					<img src="/images/common/icon_update.svg" class="section-icon"/>
					최신 업데이트
				</h4>
			</div>
			<div class="col-sx-6 text-right">
				<a href="/series/update" class="more-link">더보기</a>
			</div>
		</div>
		<div class="section-body row-fluid-wrap row">
			<div id="latest-update" class="row-fluid for-tag"></div>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ./layouts/footer %>

<script type="text/javascript">
$(function(){
	Catalogs.banners('main', loadMainBanners);
	Catalogs.auxiliary('prime', null, loadMainPrimes);
	Catalogs.showcase('theme', null, loadMainThemes);

	loadMainAuxiliary($('#series-refer'), 'series.refer','refer-group,desc');
	loadMainAuxiliary($('#series-first'), 'series.first','first-sort,asc');
	loadMainAuxiliary($('#series-free'),  'series.free', 'free-sort,asc');
	loadMainAuxiliary($('#latest-update'),'update',      'id,asc');

	Catalogs.showcase('everyday', null, function(eds) {
		Catalogs.renderIn($('#everyday-series'), '/r/main/everyday', {'data': eds.showcases});
	});
	Catalogs.auxiliary('ranking.weekly', {offset: 0, length: 30, sort: 'id,ASC'}, function(ranks) {
		Catalogs.renderIn($('#ranking-top20'), '/r/main/top20', {'data': ranks});
	});
});

function loadMainBanners(res) {
	var displayUnits = [], banners = {};

	res.banners.forEach(function(b){
		var du = b.attr['display-unit']
		displayUnits.push(du);
		banners[du] = b.attr;
	});

	Catalogs.showcase('event', {'id': displayUnits}, function(dus){
		dus.showcases.forEach(function(s){
			banners[s.id] = mergeObjects(banners[s.id], s.attr);
		});

		Catalogs.renderIn($('#main-banners'), '/r/main/banners', {'data': banners}, function(html){
			setTimeout(function(){
				$('#main-banners').css('height','inherit').css('overflow', 'inherit');
				$('#main-banners').slick({ dots: true, autoplay: true, arrows: false, adaptiveHeight: false });
			}, 1000);
		});
	});
}

function loadMainAuxiliary(container, showcase, orderby) {
	var sort = (orderby) ? orderby.split(',') : [];

	Catalogs.auxiliary(showcase, {}, function(res) {
		//console.log(showcase, res);
		if (sort.length > 1) {
			var key = sort[0], ord = sort[1];
			if (ord.toLowerCase() == 'asc')
				res.sort(function(a,b){ return (a[key] > b[key]) ? 1 : -1; });
			if (ord.toLowerCase() == 'desc')
				res.sort(function(a,b){ return (a[key] < b[key]) ? 1 : -1; });
		}
		res = res.slice(0,10);

		Catalogs.renderIn($(container), '/r/series/list-a', {'data': res});
	});
}

function loadMainPrimes(primes) {
	if (primes) {
		primes.sort(function(a,b){ return (a.group < b.group) ? -1 : 1; });
		Catalogs.renderIn($('#prime-banners-wrap'), '/r/main/prime', {'data': primes});
	}
}

function loadMainThemes(themes) {
	if (themes) {
		themes.showcases.sort(function(a,b){ return (a.id < b.id) ? 1 : -1; });
		Catalogs.renderIn($('#themes-wrap'), '/r/main/themes', {'data': themes.showcases});
	}
}
</script>
</body>
</html>
