<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>mannal :: 만/화/보/는/ 날/</title>

	<!-- styles -->
	<link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
	<link rel="stylesheet" href="/font-awesome4/css/font-awesome.min.css">
<!-- scripts -->
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/bootstrap3/js/bootstrap.min.js"></script>
<style>
.soon-bg { text-align:center; }
.soon-bg > img { width:100%; }
.buttons a { display:inline-block; border:none; margin-bottom:20px; }
.buttons a img { width:100%; }
</style>
</head>

<body style="background-color:#3b86f9;">

	<div class="container">
		<div class="soon-bg">
			<% if (is_phone) { %>
				<img src="/images/common/bg_mobile.jpg" class="bg" alt="coming soon mannal on web" />
				<div class="buttons">
					<a href="https://play.google.com/store/apps/details?id=kr.co.dcworks.mannal&hl=ko"><img src="/images/common/btn_mobile_googleplay.jpg"></a>
					<a href="https://itunes.apple.com/kr/app/mannal-mannal-manhwa-boneun/id1130657015?mt=8"><img src="/images/common/btn_mobile_appstore.jpg"></a>
				</div>
			<% } else { %>
				<img src="/images/common/bg_pc.jpg" class="bg" alt="coming soon mannal on web" />
				<div class="buttons">
					<a href="https://play.google.com/store/apps/details?id=kr.co.dcworks.mannal&hl=ko"><img src="/images/common/btn_pc_googleplay.jpg"></a>
					<a href="https://itunes.apple.com/kr/app/mannal-mannal-manhwa-boneun/id1130657015?mt=8"><img src="/images/common/btn_pc_appstore.jpg"></a>
				</div>
			<% } %>
		</div>
	</div>

<script></script>
</body>
</html>
