<% include ./layouts/head %>

<link rel="stylesheet" type="text/css" href="/css/viewer.css"/>

<script type="text/javascript" src="/comic/sbml.js"></script>
<script type="text/javascript" src="/comic/papyrun.js"></script>
<script type="text/javascript" src="/comic/viewer.js"></script>

<body>

	<div class="pages-container">
		<div class="pages-controls">
			<a href="#prev" onclick="PageControl(-1);" class="go-control go-prev-page"></a><a href="#menu" onclick="toggleMenu();" class="go-control show-context-menu"></a><a href="#next" onclick="PageControl(1);" class="go-control go-next-page"></a>
		</div>

		<div class="pages-wrap clearfix">
			<div class="view-page recto"></div><div class="view-page verso"></div>
			<canvas id="context-canvas"></canvas>
		</div>
	</div>

	<div class="context-menu context-menu-top clearfix">
		<div class="containter-fluid">
			<a href="#series" id="series-home" class="menu-cell menu-series" title="나가기"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
			<% if (user) { %>
			<a href="/bookshelf" class="menu-cell menu-bookshelf" title="보관함"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
			<% } %>
			<span id="item-title" class="truncate"></span>

			<a href="#fullscreen" class="menu-cell menu-fullscreen" onclick="toggleFullScreen();" title="전체화면"><i class="fa fa-arrows-alt fa-2x" aria-hidden="true"></i></a>
			<% if (!is_phone) { %>
			<a href="#sides" id="page-sides" class="menu-cell menu-2sides" onclick="toggleTwoSides();" title="2면보기"><i class="fa fa-columns fa-2x" aria-hidden="true"></i></a>
			<% } %>
		</div>
	</div>


	<div class="context-menu context-menu-bottom clearfix">
		<div class="containter-fluid">
			<div class="col-xs-3 left-vol">
				<a href="#prev" class="go-vol go-prev-vol" data-item="">이전편</a>
			</div>
			<div class="col-xs-6 text-center pages-info">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
				<span id="current-page">1</span>/<span id="total-pages">1</span>
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				<!--span id="current-page-ratio">(0%)</span-->
			</div>
			<div class="col-xs-3 right-vol text-right">
				<a href="#next" class="go-vol go-next-vol" data-item="">다음편</a>
			</div>

			<div class="col-xs-12 text-center" style="height:50px;">
				<div dir="" style="padding:10px;">
					<input id="page-slider" type="text" data-slider-min="1" data-slider-max="1" data-slider-step="1" data-slider-value="1" style="width:80%;"/>
				</div>
			</div>
		</div>
	</div>

	<div id="related-items" style="display:none;"></div>
	<div id="cached-pages" style="display:none;"></div>

<% include ./partials/modals/modal-confirm %>
<% include ./partials/modals/modal-purchase %>
<div id="spinner-box"><img src="/images/common/rolling.svg"></div>

<script>
$(function(){

	VIEWER.mode.mobile = <%=is_phone%>;

	/* orientation set */
	$(window).resize(function(e) {
		resizeCanvas(redrawPages);
	});

	/* shortcut key definition */
	$(window).keydown(function(e){
		if (e.which == 32) PageControl(1); // SPACE

		if (VIEWER.mode.direction == 'rtl') { // ARROW(LEFT, RIGHT)
			if (e.which == 39) PageControl(-1);
			if (e.which == 37) PageControl(1);
		} else {
			if (e.which == 39) PageControl(1);
			if (e.which == 37) PageControl(-1);
		}

		if (e.which == 27) toggleMenu(); // ESC
	});

	resizeCanvas(function(){
		VIEWER.mode.preview = true;
		<% if (user) { %>
		Users.local.haveItems(function(res){
			res.items.forEach(function(item){ HAVE_ITEMS.push(item.item_id); });
			if (HAVE_ITEMS.indexOf('<%=item_id%>') > -1) VIEWER.mode.preview = false;
			loadItemInfo('<%=item_id%>', loadBook);
		});
		<% } else { %>
		loadItemInfo('<%=item_id%>', loadBook);
		<% } %>
	});
});
</script>
</body>
</html>
