@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');;

html, body { height:100%; margin:0; }

body {
	font-family: 'Noto Sans KR', 'Roboto', sans-serif;
	background-color:#f5f5f5;
}

.content-wrapper {
	min-height:100%;
	margin:0 auto -220px;
	padding-top:80px;
}

a, a:hover, a:active, a:visited { text-decoration:none; }
a, a:visited { color:#999; }
a:hover, a:active { color:#418cff;}

input, button { border-radius:0; }
input[type=radio] { border-radius:50%; }

hr { border-color:#ccc; }

/* DEFAULT STYLES */

.default-color { color: #418cff; }
svg path { fill: #418cff; }
.default-bg-color { background-color: #418cff; color: #fff; }

.top-margin { margin-top:20px; }
.bottom-margin { margin-bottom:20px; }
.items-top { padding:10px 0; margin-bottom:20px; border-bottom:1px solid #ddd; }

.row-fluid-wrap { }
.row-fluid { overflow:auto; overflow-y:hidden; white-space:nowrap; }
.row-fluid.for-tag { padding:5px 15px 0 15px; }

.push-up { margin-bottom:20px; }

/* BOOTSTRAP STYLES CUSTOMIZED */

.bootstrap-growl { border-radius:0; border:none; }
.bootstrap-growl button.close { color:#fff; opacity:0.8; }
.bootstrap-growl.alert-danger { color:#fff; background-color:#d30; }
.bootstrap-growl.alert-success { color:#fff; background-color:#3b0; }
.bootstrap-growl.alert-info { color:#fff; background-color:#06d; }

.nav-tabs > li > a { border-radius: 0px; }
.nav-tabs li.active a { border-top:1px solid #418cff; }

.media .media-body { overflow:hidden; }
.media .media-body div { white-space: nowrap; }

.btn-primary { background-color:#418cff; color:#fff; border-color:#37e; }
.btn-default { border-color:#418cff; color:#418cff; }

/* nav */

.navbar { margin-bottom:0; border:none; }
.navbar a, .navbar a:active, .navbar a:visited { color:#fff; }
.navbar a:hover { color:#ddd; }
.navbar a {
	display:inline-block;
	height:40px;
	padding:5px;
	font-size:20px;
}
.navbar .logo { padding-top:3px }
.navbar .logo img { height:22px; }

/* .navbar-extended style */

.navbar-extended {
	background-color:#fff;
	color:#999;
	border-bottom:1px solid #ddd;
}

.navbar-extended a {
	display:inline-block;
	font-size:1.1em; color:#666 !important;
	text-decoration:none;
	padding:10px 0; margin:0 auto;
	text-align:center;
	width:19%;
}

.navbar-extended a.active,
.navbar-extended a:hover,
.navbar-extended a:active {
	color:#418cff !important;
}

.navbar-extended a.active {
	border-bottom:2px solid #418cff;
}

/* #sidebar style */

#sidebar {
	position:absolute;
	left:0px;
	width:280px;
	min-height:560px;
	margin:0;
	padding:0;
	background-color: #fff;
	z-index:2100;
	display:none;
	border:1px solid #eee;
	border-top:none;
}

#sidebar-mobile {
	position:fixed;
	width:280px;
	margin:0;
	padding:0;
	background-color: #fff;
	z-index:2100;
	top:0; left:-280px;
}

#sidebar .profile,
#sidebar-mobile .profile {
	background-color: #418cff;
	height:200px;
	text-align:center;
	color:#fff;
}

#sidebar .profile .full-logo,
#sidebar-mobile .profile .full-logo {
	width: 200px;
	margin-top:10px;
	margin-bottom:20px;
}

#sidebar .profile .user-profile,
#sidebar-mobile .profile .user-profile {
	margin:0 auto;
	margin-bottom:10px;
	font-size:2em;
}

#sidebar .profile .user-profile span,
#sidebar-mobile .profile .user-profile span {
	display:inline-block;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color:#999;
	padding-top:15px;
	margin-top:10px;
}

#sidebar .profile .user-name,
#sidebar-mobile .profile .user-name {
	font-size:1.2em;
}

#sidebar .profile .user-coin,
#sidebar-mobile .profile .user-coin {
	margin-bottom:20px;
}

#sidebar .profile .user-coin a {
	font-size:1.1em;
	color:#fff;
}

#sidebar .menu,
#sidebar-mobile .menu {
	padding:0;
	margin:0;
	border:1px solid #eee;
	border-bottom:none;
}

#sidebar .menu li,
#sidebar-mobile .menu li {
	border-bottom:1px solid #eee;
	list-style:none;
	padding:0;
	margin:0;
	font-size:1.15em;
}

#sidebar .menu li a,
#sidebar-mobile .menu li a {
	display:block;
	font-size:1em;
	color:#666;
	padding:15px 0 15px 20px;
	text-decoration: none;
	height:50px;
	text-align: left;
}

.sidebar-icon {
	height:1.6em;
	margin-right:0.2em;
	vertical-align: middle;
}

/* SEARCH FORM,MODAL STYLE */

.search-results-wrap {
	background-color:#fff;
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	color:#333;
	border:1px solid #ddd;
	margin-top:10px;
}

.search-results-wrap .media {
	padding:10px;
	margin:0;
	border-bottom:1px solid #ddd;
}

.search-results-wrap .media:last-child { border:none; }
.search-results-wrap .media h5 { color: #bbb; }
.search-results-wrap .media:hover { background-color:#fff; }
.search-results-wrap .media a { color:#333; }
.search-results-wrap .media .cover { border:1px solid #ddd; }
.search-results-wrap .media .cover { border:1px solid #ddd; }
 .search-header {
	padding:5px 10px;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
}

/* MAIN INDEX */

#main-banners {	max-height:370px; overflow:hidden; }
/*#prime-banners-wrap { max-height:600px; overflow:hidden; }*/

.index-section {
	background-color:#fff;
	margin-bottom:10px;
	padding-bottom:10px;
}

.index-ranking {
	display:inline-block;
	width:280px;
}

.index-ranking .media {
	border-bottom:1px solid #eee;
	margin-bottom:5px;
	margin-top:0;
}

.index-ranking .cover {
	width:70px;
	height:100px;
	border:1px solid #eee;
	border-bottom:0;
}

.index-ranking h5 {
	margin-bottom:10px;
	font-size:1.1em;
	width:200px;
}

.index-ranking .author,.index-ranking .genre {	font-size:0.85em; }
.index-ranking .author { color:#999; }
.index-ranking .genre { color:#99c; }

.prime-banner {
	box-shadow: 0px 0px 10px #888;
}


/* INDEX SECTION STYLE */

.section-head {
	/*border-bottom:1px solid #eee;*/
	padding:5px;
	margin-bottom:0px;
}
.section-head h4 { color:#418cff; }
.section-head .more-link {
	display:inline-block;
	margin:10px 10px 0 0;
	font-size:0.9em;
	color:#999;
}
.section-icon {
	height:1.1em;
	vertical-align: middle;
	margin-top:-4px;
	fill:#418cff;
}

/* USER HEADING STYLE */

.user-heading h3,
.user-heading h4 { font-weight:normal; }
.user-heading hr { border-color:#418cff; }
.user-heading img { height:30px; margin-right:5px; margin-top:-2px; }

/* COVER STYLES */

.cover-wrap { position:relative; background-color:#bbb; }
.cell { display:inline-block; }

/* : marks or labels */
.adcopy { color:#69c; }
.labels { margin-bottom:10px; }
	.label { border-radius:10px; }
	.label-finished { background-color:#8d5bd1; }
	.label-hd { background-color:#7167ed; }
	.label-adult { background-color:#c30; }
	.label-update { background-color:#f06292; }
	.label-event { background-color:#ff8f00; }
	.label-check-adult { height:20px; font-size:0.5em; background-color:#999; }
.author { color:#999; }
.genre { color:#99c; }
.marks {}
	.mark-adult { position:absolute; top:3px; right:3px; height:23px; }

.btn-adult { display:inline-block; padding:1px; border:0; font-size:11px !important; color:#999; background-color:#666; height:21px !important; }
.btn-facebook { color:#fff; background-color:#3b5998; }
.btn-naver { color:#fff; background-color:#1EC800; }
.btn-facebook:active, .btn-naver:active,
.btn-facebook:visited, .btn-naver:visited { color:#fff; }
.btn-facebook:hover, .btn-naver:hover { color:#ccc; }


/* : list-a */
.list-a { margin-right:6px; width:105px; }
.list-a:last-child { margin-right:0; }
.list-a a { color:#666; }
.list-a img { width:100%; }
.list-a img.cover { border:1px solid #ddd; height:150px; }
.list-a .title { font-size:0.85em; }

.list-b { padding:10px; margin:0; border-bottom:1px solid #ddd; }
.list-b:hover { background-color:#eee; }
.list-b a { color:#333; text-decoration: none; }
.list-b img { width:100%; }
.list-b img.cover { border:1px solid #ddd; height:150px; width:105px; }
.list-b .rank-number {
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	height:100%; width:50px;
	border-right:1px solid #d8d8d8;
	color:#8d5bd1; font-size:2.5em; text-align:right;
	letter-spacing: -2px;
	text-align:center;
}

/* #SERIES DETAIL STYLES */

#series-info { position:relative;	padding:20px; background-color:#fff; }
#series-info .cover-wrap { width:140px; height:200px; }
#series-info img.cover { border:1px solid #ddd; width:140px; height:200px; }
#series-info .description {	margin:10px 0; text-align:justify; color:#999; }
#series-info .like-it { position:absolute; bottom:0px; right:5px; font-size:1.8em; color:#418cff; }

#series-items { background-color:#fff; margin-top:20px; padding:10px; min-height:400px; }
#series-items .published { font-size:0.9em; color:#999; }
#series-items .media { padding:10px; margin:0; border-bottom:1px solid #ddd; }
#series-items .media-left,
#series-items .media-body { position:relative; }
#series-items .purchase-box { position:absolute; right:0; bottom:-10px; }
#series-items .purchase-box button { width:100px; }
#series-items .cover-wrap { position:relative; width:105px; height:150px; }
#series-items img.cover { border:1px solid #ddd; width:105px; height:150px; }

.image-free-tag,
.image-discount-tag,
.image-rental-tag {
	position:absolute;
	display:inline-block;
	left:-5px;
	top:-5px;
	width:40px;
	height:40px;
	border-radius:50%;
	/*border:1px solid #999;*/
	font-weight:normal;
	padding-top: 10px;
	color:#fff; font-weight:bold; letter-spacing:-1px; font-size:0.9em;
	text-align:center;
	z-index:5;
}

.image-items-count {
	position:absolute;
	display:inline-block;
	right:-3px;
	bottom:3px;
	width:40px;
	height:23px;
	border-radius:12px;
	border:1px solid #999;
	padding-top:0.1em;
	color:#fff; font-weight:bold; letter-spacing:-1px; font-size:0.9em;
	text-align:center;
	z-index:5;
}

.image-discount-tag { background-color:#d50000; border-color:#b00;}
.image-free-tag { background-color:#e91e63; border-color:#c2185b; }
.image-rental-tag { background-color:#2979ff; border-color:#2962ff; }
.image-items-count { background-color:#ff9800; border-color:#ef6c00; }

.image-adult-tag {
	display:inline-block; position:absolute;
	right:3px;
	top:3px;
	width:23px; height:23px;
	border-radius:50%;
	background-color:#fff;
	text-align:center;
	z-index:5;
}
.image-adult-tag img {
  margin-top:-1px;
	height:25px;
}


.btn-free { background-color:#ec407a; color:#fff; }
.btn-free:hover { background-color:#65d; color:#fff; }
.btn-purchase { background-color:#418cff; color:#fff; }
.btn-purchase:hover { background-color:#37e; color:#fff; }

/* EVERYDAY GUIDE STYLE */

.everyday-guide { margin-bottom:10px; }
.everyday-guide h4 { margin-top:0; }
.everyday-guide p { margin:0; padding:0; }
.everyday-guide ul { margin-left:10px; padding:10px 0; margin-bottom:0px; }
.everyday-guide ul li { margin-left:10px; margin-bottom:5px; padding-left:0px; font-size:0.9em; }

#free-point-stat {
	display:inline-block;
	margin-top:-3px;
	margin-right:5px;
	font-size:0.7em;
	background-color:#fff; color:#666;
	padding:5px 10px;
	min-width:150px;
	border:1px solid #ddd; border-radius:20px;
	text-align: center;
	vertical-align: middle;
}


.mobile-divider {
	height:14px;
	border-bottom:1px solid #eee;
}

/* helper */

#genre-selector li a {
	padding:10px;
}

.mh {
	min-height:500px;
}

.truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding:1px;
}

.btn-preview {
	margin-bottom:5px;
}

.strike-light,
.strike-light > li {
	color:#ccc;
	text-decoration: line-through;
}

.modal-content {
	border-radius: 0px;
}

.modal-header {
	background-color:#f5f5f5;
}


.preview {
	margin-bottom:5px;
}

.purchase-init {
	text-align: center;
	padding:50px;
}

/* FOOTER */
.push { height:230px; }
#footer {
	height: 220px;
	padding:10px 0 20px 0;
	background-color:#999;
}
#footer p {
	font-size:0.9em;
	color:#ccc;
}
#footer p a {
	display:inline-block;
	color:#ddd;
	text-decoration:none;
	padding:5px;
	margin-right:5px;
	border-bottom:1px solid #aaa;
}

/* MY COIN AMOUNT STYLE @ charge */

#my-coin-amount-wrap div {
	padding:0 10px;
	height:60px;
	margin-bottom:20px;
	border:1px solid #ddd;
}

#my-coin-amount-wrap div:first-child {
	font-size:1.2em;
	line-height:3.4em;
}

#my-coin-amount-wrap div:last-child {
	line-height:4em;
	border-left: none;
	background-color: #fff;
	color:#999;
}

#my-coin-amount {
	font-size:2em;
	color:#000;
	margin-top:-1em;
	margin-right:0.5em;
}


/* SCROLL TOP BUTTON STYLE */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
		overflow: hidden;
		text-align: center;
		z-index: 1299;
    background-color: #333;
		color: #999;
		width: 40px;
		height: 40px;
		right:0px;
		bottom: 50px;
		/*border-radius: 50%;*/
		padding-top:8px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper.show {
	visibility:visible;
    cursor:pointer;
	opacity: 0.9;
}

/* AJAX LOADING SPINNER */

#spinner-box {
	position:fixed;
	z-index:1300;
	width:90px; height:90px;
	color:#333;
	/*background-color:#333;*/
	opacity:0.9;
	text-align:center;
	padding-top:5px;
	top:50%; left:50%;
	margin-left:-45px; margin-top:-45px;
	border-radius: 10px;
}

#modal-adult,
#modal-bookshelf,
#modal-charge,
#modal-confirm,
#modal-purchase {
  text-align: center;
  padding: 0 !important;
}

#modal-adult:before,
#modal-bookshelf:before,
#modal-charge:before,
#modal-confirm:before,
#modal-purchase:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

#modal-adult .modal-dialog,
#modal-bookshelf .modal-dialog,
#modal-charge .modal-dialog,
#modal-confirm .modal-dialog,
#modal-purchase .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width:280px;
}

/* SEARCH MODAL EXCEPTION */
