/* viewer css */

body {
    margin:0;
    padding:0;
    height:100%;
    background-color:#333;
}

.pages-container {
  width:100%;
  height:100%;
  text-align: center;
  overflow:hidden;
  z-index:0;
}

.pages-wrap {
  display:inline-block;
  position:relative;
  margin: 0 auto;
  /* overflow: hidden; */
  z-index:1;
}

.pages-controls {
    width:100%;
    height:100%;
    position:absolute;
    top:0; left:0;
    z-index:100;
    overflow:hidden;
}
.pages-controls .go-control {
    display:inline-block;
    height:100%;
    width:35%;
}
.pages-controls .show-context-menu {
    width:30%;
}

.view-page {
    float:left;
    /* overflow:hidden; */
}

.context-menu {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    z-index:200;
    padding:0;
    margin:0;
    overflow:hidden;
}
.context-menu-top {
    position:fixed;
    background-color:#f5f5f5;
    top:0;left:0;
    height:50px;
    width:100%;
    opacity:0.95;
}
.context-menu-bottom {
     position:fixed;
     background-color:#f5f5f5;
     bottom:0;left:0;
     height:90px;
     width:100%;
     opacity:0.95;
}

.context-menu .menu-cell {
   /*display:inline-block;*/
    display:table;
    width:50px;
    height:50px;
    text-align: center;
}

.menu-cell i {
    display:table-cell;
    vertical-align: middle;
}

.menu-series {
    float:left;
    border-left: 1px solid #ccc;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menu-bookshelf {
    float:left;
    border-right: 1px solid #ccc;
}

#item-title {
    float:left;
    font-size:1.1em;
    margin-top:10px;
    margin-left:10px;
}

.menu-2sides {
    float:right;
    border-left: 1px solid #ccc;
}

.menu-1side {
    float:right;
    border-left: 1px solid #ccc;
}

.menu-fullscreen {
    float:right;
    border-left: 1px solid #ccc;
}

.go-vol, .pages-info {
    display:inline-block;
    padding:10px;
}

.pages-info span {
    margin:0 5px;
}

.slider .slider-track .slider-selection {
    background-image: linear-gradient(to bottom, #37e 0%, #37e 100%);
}
.slider .slider-handle {
    background-color: #418cff;
    background-image: linear-gradient(to bottom, #418cff 0%, #418cff 100%);
}

.pages-info {
    font-weight:bold;
}

#context-canvas,
.view-page {
	display:none;
}
