<%
if (!data) {
%>
    <a href="#" class="adult-not-login"
        onclick="mConfirm.set({ 'onConfirm': function(){ goUrl('/login?rurl='+document.location.href); } })
            .show('<div class=\'text-center\'>성인물 취급은 로그인을 필요로 합니다.<br/>로그인 페이지로 이동할까요?</div>');return false;">
        <img src="/images/common/btn_adult_off.svg" style="margin-top:-3px;">
    </a>
<%
} else if (data.is_adult != 'yes') {
%>
    <a href="#" class="adult-not-check"
        onclick="mConfirm.set({ 'onConfirm': function(){ $('#modal-adult').modal('show').focus(); $('#verify-form').attr('src', '/adult/forward'); } })
            .show('<div class=\'text-center\'>성인이 아니거나 아직 성인 인증을 받지 않은 상태입니다.<br/>성인인증을 받으시겠습니까?</div>');return false;">
        <img src="/images/common/btn_adult_off.svg" style="margin-top:-3px;">
    </a>
<%
} else {
%>
    <a href="#" class="adult-check-yes"
        onclick="Users.local.toggleAdultView('<%=data.adult_view || 'no'%>');return false;">
        <img src="/images/common/btn_adult_<%=(data.adult_view=='yes')?'on':'off'%>.svg" style="margin-top:-3px;">
    </a>
<%
}
%>
