<div class="media">
    <div class="media-left">
        <div class="cover-wrap">
            <img class="media-object cover" src="/images/common/default_cover.jpg" data-item="<%=data['latest-item']%>">
        </div>
    </div>

    <div class="media-body" style="position:relative;">
        <h4 class="media-heading">
            <%=data.title%>
            <% if (data.adcopy) { %>
            <br/><small class="adcopy"><%=data.adcopy%></small>
            <% } %>
        </h4>

        <div class="labels">
            <% if (data['update-item'] && (data['update-item'] == data['first-item'])) { %>
  					<span class="label label-event">NEW</span>
  					<% } %>

            <% if (data['high-resolution'] && (data['high-resolution']=='yes')) { %>
            <span class="label label-hd">HD</span>
            <% } %>

            <% if (data.finished && (data.finished == 'yes')) { %>
            <span class="label label-finished">완결</span>
            <% } %>

            <% if (data['adult-only']) { %>
            <span class="label label-adult">19</span>
            <% } %>

            <% if (data['update-item']) { %>
            <span class="label label-update">UP</span>
            <% } %>
        </div>
        <div class="author" data-author="<%=data['author-code']%>"><%=data.author%></div>
        <div class="genre" data-genre="<%=data['genre-code']%>"><%=data.genre%></div>

        <% if (user) { %>
        <a href="#like-it" id="like-it"  class="like-it" data-series="<%=data.series%>" onclick="toggleFavorites(this, '<%=data.series%>');return false;">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </a>
        <% } %>
    </div>

    <div class="description"><%=data.description%></div>
</div>
