<%
/* series > list-M : bookshelf */

var allow_adult = (user && (user.is_adult == 'yes') && (user.adult_view == 'yes')) ? true : false;

data.forEach(function(s){

	var adult_only = (s['adult-only']=='yes') ? true : false;
	var detail_link = (s['alternate-name']) ? '/'+ s['alternate-name'] +'/' : '/series/';
	detail_link += s.series + '/detail';

	if (!adult_only || allow_adult) {
%>
	<div class="col-xs-6 col-sm-3 text-center">
		<div class="cell list-a <%=(adult_only) ? 'adult-only' : '' %>">
			<a href="#<%=s.series%>" onclick="mBookshelf.show('<%=s.series%>');return false;">
				<div class="cover-wrap" style="height:150px;">
					<% if (s['items-count']) { %>
					<span class="image-items-count"><%=s['items-count']%></span>
					<% } %>

					<% if (s['adult-only']) { %>
					<span class="image-adult-tag"><img src="/images/common/adult_mark.svg"></span>
					<% } %>
					<img src="/images/common/default_cover.jpg" class="cover" data-item="<%=s['first-item']%>" alt="<%=(s.adcopy||s.title)%>">
				</div>
				<h6 class="title text-center truncate"><%=s.title%></h6>
			</a>
		</div>
	</div>
<%
	}
});
%>
