<%
/* series > list-K : ranking list */

var ranking = 1;
var allow_adult = (user && (user.is_adult == 'yes') && (user.adult_view == 'yes')) ? true : false;

data.forEach(function(s) {

	var adult_only = (s['adult-only']=='yes') ? true : false;

	if (!adult_only || allow_adult) {
%>
	<div id="<%=s.series%>" class="media list-b col-xs-12 col-sm-6 col-md-4" style="padding:10px 0;">
		<div class="media-left" style="height:100%;">
			<div class="rank-number"><%=ranking++%></div>
		</div>
		<div class="media-left">
			<a href="<%='/series/' + s.series + '/detail' %>">
				<div class="cover-wrap" style="height:150px;width:105px;">
					<% if (s['adult-only']) { %>
					<span class="image-adult-tag"><img src="/images/common/adult_mark.svg"></span>
					<% } %>

					<img src="/images/common/default_cover.jpg" class="cover" data-item="<%=s['latest-item']%>" alt="<%=(s.adcopy||s.title)%>">
				</div>
			</a>
		</div>
		<div class="media-body">
			<a href="<%='/series/' + s.series + '/detail' %>">
				<h5 class="media-heading">
					<%=s.title%>
					<% if (s.adcopy) { %>
					<br/><small class="adcopy"><%=s.adcopy%></small>
					<% } %>
				</h5>
				<div class="labels">
					<% if (s['update-item'] && (s['update-item'] == s['first-item'])) { %>
					<span class="label label-event">NEW</span>
					<% } %>

					<% if (s['high-resolution'] && (s['high-resolution']=='yes')) { %>
					<span class="label label-hd">HD</span>
					<% } %>

					<% if (s.finished && (s.finished == 'yes')) { %>
					<span class="label label-finished">완결</span>
					<% } %>

					<% if (s['adult-only']) { %>
					<span class="label label-adult">19</span>
					<% } %>

					<% if (s['adult-only']) { %>
					<span class="label label-adult">19</span>
					<% } %>

					<% if (s['update-item']) { %>
					<span class="label label-update">UP</span>
					<% } %>
				</div>
				<div class="author" data-author="<%=s['author-code']%>"><%=s.author%></div>
				<div class="genre" data-genre="<%=s['genre-code']%>"><%=s.genre%></div>
			</a>
		</div>
	</div>
<%
	}
});
%>
