<%
/* series > list-A : only cover and title */

var allow_adult = (user && (user.is_adult == 'yes') && (user.adult_view == 'yes')) ? true : false;

data.forEach(function(s) {

	var adult_only  = (s['adult-only'] == 'yes') ? true : false;
	var detail_link = (s['alternate-name']) ? '/'+ s['alternate-name'] +'/' : '/series/';
	detail_link += s.series + '/detail';

	if (!adult_only || allow_adult) {
%>
	<div class="cell list-a <%=(adult_only) ? 'adult-only' : '' %>">
		<a href="<%=detail_link%>">
			<div class="cover-wrap" style="height:150px;">
				<% if (s.free == 'yes') { %>
				<span class="image-free-tag">무료</span>
				<% } else if (s['discount-rate']) { %>
				<span class="image-discount-tag"><%=s['discount-rate']%></span>
				<% } else if (s['rental-yn']) { %>
				<span class="image-rental-tag">대여</span>
				<% } %>

				<% if (adult_only) { %>
				<span class="image-adult-tag"><img src="/images/common/adult_mark.svg"></span>
				<% } %>

				<img src="/images/common/default_cover.jpg" class="cover" data-item="<%=s['latest-item']%>" alt="<%=(s.adcopy||s.title)%>">
			</div>
			<h6 class="title text-center truncate"><%=s.title%></h6>
		</a>
	</div>
<%
	}
});
%>
