<%
/* series > list-S : search result */

var allow_adult = (user && (user.is_adult == 'yes') && (user.adult_view == 'yes')) ? true : false;

data.forEach(function(s) {

	var adult_only = (s['adult-only'] == 'yes') ? true : false;

	if (!adult_only || allow_adult) {
%>
	<div id="<%=s.category%>" class="media col-xs-12 <%=(adult_only) ? 'adult-only' : '' %>">
		<div class="media-left">
            <% if (s['alternate-name']) { %>
            <a href="/<%=s['alternate-name']%>/<%=s.category%>/detail">
            <% } else { %>
            <a href="/series/<%=s.category%>/detail">
            <% } %>
                <div class="cover-wrap" style="height:80px;width:56px;">
    				<% if (s['adult-only']) { %>
    				<span class="image-adult-tag"><img src="/images/common/adult_mark.svg"></span>
    				<% } %>
                    <img src="/images/common/default_cover.jpg" class="cover" data-item="<%=s['latest-item']%>" alt="<%=(s.adcopy||s.title)%>" width="56px">
				</div>
			</a>
		</div>
		<div class="media-body">
			<a href="/series/<%=s.category%>/detail">
				<h5 class="media-heading" style="color:#333;"><%=s.title%></h5>
				<div class="author" data-author="<%=s['author-code']%>"><%=s.author%></div>
				<div class="genre" data-genre="<%=s['genre-code']%>"><%=s.genre%></div>
			</a>
		</div>
	</div>
<%
	}
});
%>
