<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container" style="margin-top:10px;overflow:hidden;max-height:645px;">
		<div id="prime-images" class="row" style=""></div>
	</div>

	<div class="container">
		<div class="row items-top">
			<div class="col-xs-4">
				전체 (<span class="items-count">0</span>)
			</div>
			<div class="col-xs-8 text-right">
				<label class="radio-inline">
					<input type="radio" name="sort-items" onclick="sortItemList('oldest');" value="oldest" checked> 출간순
				</label>
				<label class="radio-inline">
					<input type="radio" name="sort-items" onclick="sortItemList('latest');" value="latest"> 최신순
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<button type="button" class="btn btn-lg btn-success btn-block"
					onclick="<% if (user) { %>Store.openCart('select');<% } else { %>requiredLogin();<% } %>">
					선택 구매
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-lg btn-primary btn-block"
					onclick="<% if (user) { %>Store.openCart('all');<% } else { %>requiredLogin();<% } %>">
					전편 구매
				</button>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row" id="series-items"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>
<% include ../partials/modals/modal-purchase %>

<script type="text/javascript">
var ItemIDs = [], ProductIDs = [], HasItemIDs = [], RecentItem = {"logging_at": 0, "item_id": ""};
var expiredTimerInst;

$(function(){
	loadPrimeStory('<%=group_id%>');
	loadSeriesInfo('<%=series_id%>');
	Store.setBasePoint('O_0000_000000009');
});

/* prime story */

function loadPrimeStory(group_id) {
	Catalogs.category(group_id, {"showcase": ["prime.detail"], "sort": "id,ASC"}, function(res) {
		var detail_ids = [];
		res.categories.forEach(function(dtl){ detail_ids.push(dtl.id); });
		Catalogs.showcase('prime.detail', {"id": detail_ids, "sort": "id,ASC"}, loadPrimeImages);
	});
}

function loadPrimeImages(res) {
	var primes = res.showcases;
	Catalogs.renderIn($('#prime-images'), '/r/prime/story', {'data': primes}, function(html) {
		setTimeout(function() {
			$('#prime-images').slick({
				infinite: false,
				arrows: true,
				adaptiveHeight: false,
				slidesToShow: 3, slidesToScroll: 3,
				responsive: [
					{ breakpoint: 990, settings: { slidesToShow: 2, slidesToScroll: 2 } },
					{ breakpoint: 768, settings: { slidesToShow: 1, slidesToScroll: 1 } }
				]
			});
		}, 1000);
	});
}

/* load series info */

function loadSeriesInfo(series_id) {
	Catalogs.showcase('series', { "series": [series_id] }, function(res) {
		var series = res.showcases[0].attr;
		Catalogs.seriesMetaData([series.series], function(meta) {
			series = mergeObjects(series, meta[series.series]);
			//console.log(series);
			loadSeriesItems(series, 'oldest');
		});
	});
}

/* load series items */

function loadSeriesItems(series_info, sort) {
	var sort = sort || 'oldest';

	Catalogs.seriesItems(series_info.series, sort, function(res){
		var SERIES_ITEMS = res.items;
		$('.items-count').text(SERIES_ITEMS.length);

		Users.cloud.haveItems(function(res){
			var HAVE_ITEMS = {}, HAVE_ITEM_IDS = [];
			res.items.forEach(function(item){
				HAVE_ITEMS[item.item_id] = item;
				HAVE_ITEM_IDS.push(item.item_id);
			});

			SERIES_ITEMS.forEach(function(item){
				if (HAVE_ITEM_IDS.indexOf(item.id) > -1) {
					if (HAVE_ITEMS[item.id].expired_at) {
						item['purchased-type'] = 'rental';
						item['rental-expired-at'] = HAVE_ITEMS[item.id].expired_at;
					}  else {
						item['purchased-type'] = 'permanent';
					}
				}
				item['discount-rate'] = series_info['discount-rate'] || '';
				item['adult-only'] = series_info['adult-only'] || '';
			});
			//console.log(SERIES_ITEMS);
			Catalogs.renderIn($('#series-items'), '/r/item/list-a', {'data': SERIES_ITEMS}, function(html) {
				checkRentalTimer();
				if ($('button.open[data-expired]').length > 0) expiredTimerInst = setInterval(checkRentalTimer, 60000);
				$('button.open').click(function(e){ goUrl('/comic/'+$(this).attr('data-item')); });
				$('button.preview').click(function(e){ goUrl('/comic/'+$(this).attr('data-item')+'?mode=preview'); });
			});
		});
	});
}
</script>
</body>

</html>
