<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="row main-banner push-up">
			<img src="" data-name="B_PRIME_000.jpg" width="100%">
		</div>
		<div class="row" id="primes-wrap"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
$(function(){
	Catalogs.loadImages($('.main-banner img'));
	Catalogs.auxiliary('prime', null, loadPrimes);
});

function loadPrimes(res) {
	var primes = res;
	primes.sort(function(a,b){ return (a.group>b.group) ? 1 : -1; });
	Catalogs.renderIn($('#primes-wrap'), '/r/prime/list-a', {'data': primes});
}
</script>
</body>
</html>
