<!-- modal-purchase -->
<div id="modal-purchase" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h5 class="modal-title">구매 선택</h5>
			</div>
			<div class="modal-body">
				<div class="body-wrap text-center"></div>
			</div>
		</div>
	</div>
</div>
