<!-- modal-confirm -->
<div id="modal-confirm" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p class="message"></p>
			</div>
			<div class="modal-footer" style="text-align:center;">
				<div class="col-xs-6">
					<button type="button" class="btn btn-block btn-default dismiss" data-dismiss="modal">취소</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-block btn-primary confirm">확인</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var mConfirm = new function() {
	var _self = this;
	_self.opts = {};

	$('#modal-confirm').modal({
		show: false,
		backdrop: true,
		keyboard: false
	});

	_self.set = function(options) {
		_self.opts = options;

		if (_self.opts.onConfirm) {
			$('#modal-confirm').off('click', '.confirm').on('click', '.confirm', function(){
				$('#modal-confirm').modal('hide');
				return _self.opts.onConfirm(_self.opts);
			});
		}

		if (_self.opts.onCancel) {
			$('#modal-confirm').off('click', '.dismiss').on('click', '.dismiss', function(){
				$('#modal-confirm').modal('hide');
				return _self.opts.onCancel(_self.opts);
			});
		}

		return _self;
	}

	_self.show = function(message) {
		var msg = message || _self.opts.message || '';

		if (_self.opts.beforeShow) _self.opts.beforeShow(_self.opts);

		$('#modal-confirm p.message').empty().html(msg);
		$('#modal-confirm').modal('show');
		return _self;
	}

	_self.hide = function(callback) {
		$('#modal-confirm').modal('hide');
		if (callback) callback();
		return _self;
	}
}
</script>
