
<div id="modal-search" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
				<h5 class="modal-title">작품 검색</h5>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<form id="search-form">
						<input type="hidden" id="search-genre-code">
						<div class="input-group">
							<span class="input-group-btn" id="search-genre"></span>
							<input type="text" id="search-keyword" class="form-control" placeholder="작품명/작가명을 입력하세요">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</span>
						</div>
					</form>
				</div>
				<div class="text-left search-results-wrap" id="search-result">
			    	<div class="media text-center"><h4 style="color:#ccc;">결과가 없습니다.</h4></div>
			  	</div>
			</div>
		</div>
	</div>
</div>
