<!-- modal-purchase -->
<div id="modal-adult" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="<%=(is_phone)?'':'width:426px;'%>'">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h5 class="modal-title">본인 인증</h5>
			</div>
			<div class="modal-body <%=(is_phone)?'adult-body':''%>">
				<iframe id="verify-form" style="margin:0 auto;border:1px solid #ccc;width:100%;<%=(is_phone)?'height:100%;':'height:642px;'%>" scrollbars=no frameborder=0></iframe>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#modal-adult').on('show.bs.modal', function() {
		var height = $(window).height() * 0.8;
		$('#modal-adult .adult-body').height(height).css('overflow-y','scroll').focus();
	});
});
</script>
