<!-- modal-purchase -->
<div id="modal-charge" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="<%=(is_phone)?'':'width:725px;'%>">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h5 class="modal-title">코인 충전</h5>
			</div>
			<div class="modal-body <%=(is_phone)?'charge-body':''%>">
				<iframe id="payment-form" style="margin:0 auto;border:1px solid #ccc;<%=(is_phone)?'width:100%;height:100%;overflow-x:hidden;':'width:692px;height:492px;overflow:hidden;'%>" scrollbars=1 frameborder=0></iframe>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$('#modal-charge').on('show.bs.modal', function() {
		var height = $(window).height() * 0.8;
		$('#modal-charge .charge-body').height(height).css('overflow-y','scroll').focus();
	});
});
</script>
