<!-- modal-bookshelf -->
<div id="modal-bookshelf" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">작품</h4>
      		</div>
			<div class="modal-body">
				<div class="section-body row-fluid-wrap">
					<div id="series-books" class="row-fluid"></div>
				</div>
			</div>
			<div class="modal-footer" style="text-align:center;">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>

<script>
var _mBookshelf = function() {
	var self = this;
	var SERIES_ID = '', HAS_ITEMS = [];

	function setSeriesInfo(meta) {
		$('#modal-bookshelf .modal-title').html(meta[SERIES_ID].title);
		Catalogs.itemsMeta(HAS_ITEMS, setHasItemsInfo);
	}

	function setHasItemsInfo(items) {
		var items = items.items, keys = [];
		for (var key in items) keys.push(key);
		keys.sort();
		$('#series-books').empty();
		keys.forEach(function(k){

			$('#series-books').append(
				'<div class="cell list-a">' +
					'<a href="/comic/'+ k +'">' +
						'<div class="cover-wrap" style="height:150px;">' +
							'<img src="/images/common/default_cover.jpg" class="cover" data-item="'+ k +'">' +
						'</div>' +
						'<h6 class="title text-center truncate">'+ items[k]['short-title'] + '</h6></a></div>');
		});
		//Catalogs.renderIn($('#series-books'), '/r/series/list/a', {'series': items});
		$('#modal-bookshelf').modal();
		Catalogs.loadImages('#series-books .cover');
		$('#modal-bookshelf .cover').lazyload({ effect: "fadeIn", container: $('#series-books') });
	}

	self.show = function(series) {
		SERIES_ID = series;
		HAS_ITEMS = seriesItems[series].items;
		Catalogs.seriesMetaData([series], setSeriesInfo);
	}
}

var mBookshelf = new _mBookshelf;
</script>
