<% include ../../layouts/head %>
<style>
ol, ul { padding:0; margin:0; }
ol { margin-left: 15px; }
ul { margin-left: 10px; }
</style>
<body>
<div class="content-wrapper">

<% include ../../layouts/nav-global %>

<div class="container" style="background-color:#fff; border:1px solid #ddd;">

<h3 class="text-center">만날 개인정보취급방침</h3>

<ol>
	<li>
		<h4>수집하는 개인정보의 항목 및 수집방법</h4>
		<ul style="list-style:none;">
			<li>
				<h5>1) 수집하는 개인정보의 항목</h5>
				<ul style="list-style:none;">
					<li>
						<p>① 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 개인정보를 수집하고 있습니다.</p>
						<strong>&lt;필수 수집 항목&gt;</strong>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center active">구분</th><th class="text-center active">필수 항목</th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<th class="text-center active">수집 항목</th>
									<td>이메일주소, 비밀번호, 성명</td>
								</tr>
								<tr>
									<th class="text-center active">수집 및 이용 목적</th>
									<td>
										<ul class="list-unstyled">
											<li>(1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</li>
											<li>(2) 멤버십 관리</li>
											<li>(3) 신규 서비스 개발 및 마케팅•광고에의 활용</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th class="text-center active">보유 및 이용기간</th>
									<td>이용 탈퇴 시까지<br/>(단, 관계법령에 따름)</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						② 서비스 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
						<ul>
							<li>IP Address, 쿠키, 방문 일시, OS종류, 브라우저 종류, 서비스 이용 기록, 불량 이용 기록, 모바일 실행위치, 모바일 구매완료 위치, 단말기 모델, 이동통신사 정보, 하드웨어 ID, 단말기 OS 종류, 모델종류</li>
						</ul>
					</li>
					<li>
						③ 부가 서비스 및 맞춤식 서비스 이용 또는 이벤트 응모 과정에서 해당 서비스의 이용자에 한해서만 아래와 같은 정보들이 수집될 수 있습니다.
						<ul>
							<li>개인정보 추가 수집에 대해 동의를 받는 경우</li>
						</ul>
					</li>
					<li>
						④ 유료 서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수 있습니다.
						<ul>
							<li>신용카드 결제 시 : 카드사, 카드번호, 비밀번호, CVC</li>
							<li>휴대전화 결제 시 : 휴대폰번호, 가입통신사, 주민등록번호 앞7자리, 결제승인번호, 이메일 주소</li>
							<li>상품권 이용 시 : 상품권 번호</li>
							<li>환불 시 : 환불계좌정보(은행명, 계좌번호, 예금주명)</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<h5>2) 개인정보 수집방법</h5>
				<ul style="list-style:none;">
					<li>① 만날 서비스 페이지(회원가입, 게시판)</li>
					<li>② 회원정보수정, 제휴사로부터의 제공, 이벤트응모</li>
					<li>③ 상담(전화, 이메일), 고객센터, Q&A</li>
					<li>④ 생성정보 수집 툴을 통한 수집</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보의 수집 및 이용 목적</h4>
		<p>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
		이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며, 이용 목적이 변경될 시에는 사전동의를 구할 것입니다.</p>
		<ul style="list-style:none">
			<li>
				<h5>1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h5>
				<ul style="list-style:none">
					<li>① 컨텐츠 제공, 특정 맞춤 서비스 제공</li>
					<li>② 물품배송 또는 청구서 등 발송</li>
					<li>③ 금융거래 본인 인증 및 금융 서비스</li>
					<li>④ 구매 및 요금 결제 등</li>
				</ul>
			</li>
			<li>
				<h5>2) 이용자 관리</h5>
				<ul style="list-style:none">
					<li>① 서비스 이용 및 제한적 본인 확인에 따른 개인 식별</li>
					<li>② 불량 이용자의 부정 이용방지와 비인가 사용방지</li>
					<li>③ 가입의사 확인, 가입 및 가입횟수 제한</li>
					<li>④ 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달</li>
				</ul>
			</li>
			<li>
				<h5>3) 신규 서비스 개발 및 마케팅•광고에의 활용</h5>
				<ul style="list-style:none">
					<li>① 신규 서비스 개발 및 맞춤 서비스 제공</li>
					<li>② 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인</li>
					<li>③ 이벤트 및 광고성 정보 제공 및 참여기회 제공</li>
					<li>④ 접속빈도 파악 등에 대한 통계</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보의 제공</h4>
		<p>이용자의 편의를 위해 회사가 수집한 개인정보는 아래의 처리 기준에 따라 제공됩니다.</p>
		<ul style="list-style:none;">
			<li>
				<h5>1) 이용자가 사전에 동의한 경우</h5>
				<ul>
					<li>이용자에게 사전 안내 및 개별 동의를 통해 타기업에 해당 정보 제공</li>
				</ul>
			</li>
			<li><h5>2) 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우</h5></li>
			<li><h5>3) 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</h5></li>
			<li>
				<h5>4) 제휴 서비스를 위해 업무 제휴 목적으로 업체에 제공하는 경우</h5>
				<ul>
					<li>해당 서비스를 이용하지 않는 이용자는 개인정보 제공이 발생하지 않으며, 이용 시에는 해당 제휴사를 통해 제휴업무를 위한 정보제공에 대한 별도 동의를 받고 있습니다.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보의 취급위탁</h4>
		<p>회사는 서비스 향상을 위하여 개인정보를 위탁하고 있으며, 관계법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항들을 규정하고 있습니다.</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center active">제공받는자</th><th class="text-center active">제공목적</th>
				<tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">주식회사 북잼</td>
					<td class="text-center">컨텐츠 클라우드 계정 연동, 고객응대 업무</td>
				</tr>
			</tbody>
		</table>
	</li>
	<li>
		<h4>개인정보의 보유 및 이용기간</h4>
		<p>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</p>
		<ul style="list-style:none;">
			<li>
				<h5>1) 회사 내부 방침에 의한 정보보유 사유</h5>
				<ul>
					<li>보존 항목 : 이름, 이메일</li>
					<li>보존 근거 : 서비스 이용의 혼선 방지, 불법적 사용자에 대한 관련 기관 수사 협조</li>
					<li>보존 기간 : 1년</li>
				</ul>
			</li>
			<li>
				<h5>2) 관련법령에 의한 정보보유 사유</h5>
				<p>상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.</p>
				<ul style="list-style:none;">
					<li>
						① 계약 또는 청약철회 등에 관한 기록
						<ul>
							<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
							<li>보존 기간 : 5년</li>
						</ul>
					</li>
					<li>
						② 대금결제 및 재화 등의 공급에 관한 기록
						<ul>
							<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
							<li>보존 기간 : 5년</li>
						</ul>
					</li>
					<li>
						③ 소비자의 불만 또는 분쟁처리에 관한 기록
						<ul>
							<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
							<li>보존 기간 : 3년</li>
						</ul>
					</li>
					<li>
						④ 본인 확인에 관한 기록
						<ul>
							<li>보존 근거 : 정보통신망 이용촉진 및 정보보호 등에 관한 법률</li>
							<li>보존 기간 : 6개월</li>
						</ul>
					</li>
					<li>
						⑤ 웹사이트 방문기록
						<ul>
							<li>보존 근거 : 통신비밀보호법</li>
							<li>보존 기간 : 3개월</li>
						</ul>
					</li>
					<li>
						⑥ 개인위치정보에 관한 기록
						<ul>
							<li>보존 근거 : 위치정보의 보호 및 이용 등에 관한 법률</li>
							<li>보존 기간 : 1년</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보의 파기절차 및 방법</h4>
		<p>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 회사의 개인정보 파기절차 및 방법은 다음과 같습니다.</p>
		<ul style="list-style:none">
			<li>
				<h5>1) 파기절차</h5>
				<ul style="list-style:none">
					<li>① 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 보관장소) 기타 관계 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조)일정 기간 저장된 후 파기됩니다.</li>
					<li>② 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</li>
					<li>③ 보존기간이 경과한 정보 관련 문서(대외비는 부서보안관리자, 비밀은 정보보호관리자)는 해당관리자의 승인을 받아 폐기합니다</li>
				</ul>
			</li>
			<li>
				<h5>2) 파기방법</h5>
				<ul style="list-style:none">
					<li>① 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
					<li>② 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법(재사용 시 덮어 쓰기, 로우(low) 포맷 등)을 사용하여 삭제합니다.</li>
				</ul>
			</li>
			<li>
				<h5>3) 개인정보 유효기간제 도입</h5>
				<ul style="list-style:none">
					<li>① 당사는 1년 이상 서비스 미이용자의 개인정보보호를 위하여 해당 회원의 개인정보를 다른 이용자의 개인정보와 분리하여 저장 관리합니다.</li>
					<li>② 미이용의 기간은 최종 로그인 일자 및 코인의 사용, 적립, 구매이력으로 산정하며, 고객의 복원 및 회원탈퇴 요청이 없을 경우 서비스 미이용자에 대하여 분리•저장•관리 합니다.</li>
					<li>③ 당사는 미이용자의 개인정보 분리•저장 시점 도래 1개월 전에 이메일 등을 통해 해당 이용자에게 관련 내용을 공지합니다.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>이용자 및 법정대리인의 권리와 그 행사방법</h4>
		<ul style="list-style:none;">
			<li>
				1) 이용자 및 법정대리인은 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
				<ul style="list-style:none;">
					<li>① 개인정보 열람요구</li>
					<li>② 오류 등이 있을 경우 정정 요구</li>
					<li>③ 삭제요구</li>
					<li>④ 처리정지 요구</li>
				</ul>
			</li>
			<li>
				2) 제1항에 따른 권리 행사는 고객센터 내 개인정보(열람, 정정•삭제, 처리정지) 요구서에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, 회사는 이에 대해 지체 없이 조치하겠습니다.
			</li>
			<li>
				3) 이용자 및 법정대리인이 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
			</li>
			<li>
				4) 제1항에 따른 권리 행사는 이용자의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 위임장을 작성하여 제출하셔야 합니다.
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</h4>
		<p>회사는 이용자들에게 특화된 맞춤서비스를 제공하기 위해서 이용자들의 정보를 저장하고 수시로 불러오는＂쿠키(cookie)＂를 사용합니다. 쿠키는 웹사이트, 휴대폰 등을 운영하는데 이용되는 서버(HTTP)가 이용자의 단말기 브라우저에게 보내는 소량의 정보이며 이용자들의 단말기 하드디스크에 저장되기도 합니다.</p>
		<ul style="list-style:none;">
			<li>
				<h5>1) 쿠키의 사용 목적</h5>
				<p>이용자들이 방문한 각 서비스의 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 뉴스편집, 이용자 규모 등을 파악하여 이용자에게 최적화된 정보 제공을 위하여 사용합니다.</p>
			</li>
			<li>
				<h5>2) 쿠키의 설치•운영 및 거부</h5>
				<ul style="list-style:none;">
					<li>① 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 단말기 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</li>
					<li>② 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인정보의 기술적/관리적 보호 대책</h4>
		<p>회사는 이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.</p>
		<ul style="list-style:none;">
			<li>
				<h5>1) 비밀번호 암호화</h5>
				<p>만날 로그인 비밀번호는 암호화 되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</p>
			</li>
			<li>
				<h5>2) 해킹 등에 대비한 대책</h5>
				<p>회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.
				개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.
				그리고 침입차단시스템을 이용하여 외부로부터의 무단접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</p>
			</li>
			<li>
				<h5>3) 취급 직원의 최소화 및 교육</h5>
				<p>회사의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보취급방침의 준수를 항상 강조하고 있습니다.</p>
			</li>
			<li>
				<h5>4) 개인정보보호전담기구의 운영</h5>
				<p>사내 개인정보보호전담기구 등을 통하여 만날 개인정보취급방침의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다.
				단, 이용자 본인의 부주의나 단말기상의 문제로 이메일, 비밀번호, 성명 등 개인정보가 유출되어 발생한 문제에 대해 회사는 일체의 책임을 지지 않습니다.</p>
			</li>
		</ul>
	</li>
	<li>
		<h4>개인위치정보의 보호</h4>
		<ul style="list-style:none;">
			<li>1) 회사는 ”위치기반 서비스” 제공을 위하여 고객의 위치정보를 수집 및 이용할 수 있습니다.</li>
			<li>2) 상기 개인위치정보는 상기 이용목적 이외의 용도로는 사용되지 않습니다.</li>
			<li>3) 상기 개인위치정보의 수집, 이용 또는 제공목적을 달성한 때에는 관련 법령에 의하여 보존하여야 하는 위치정보 수집, 이용, 제공사실 확인자료 외의 개인위치정보는 즉시 파기합니다.</li>
			<li>4) 기타 개인위치정보 관련한 회사의 의무 및 고객의 권리는 “위치정보의 보호 및 이용 등에 관한 법률” 및 관련 법령을 따릅니다.</li>
		</ul>
	</li>
	<li>
		<h4>개인정보보호관리책임자 및 담당자의 연락처</h4>
		<p>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
		<strong>&lt;개인정보관리책임자 및 담당부서&gt;</strong>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center active" colspan=2>개인정보보호관리책임자</th>
				<tr>
			</thead>
			<tbody>
				<tr>
					<th class="text-center active">부서</th><td>서비스운영팀</td>
				</tr>
				<tr>
					<th class="text-center active">이름</th><td>김민수</td>
				</tr>
				<tr>
					<th class="text-center active">연락처</th><td>02-793-7700</td>
				</tr>
				<tr>
					<th class="text-center active">이메일</th><td><a href="mailto:mskim@dcworks.co.kr">mskim@dcworks.co.kr</a></td>
				</tr>
			</tbody>
		</table>
		<p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
		<ul>
			<li>개인정보침해신고센터 ( <a href="http://privacy.kisa.or.kr">http://privacy.kisa.or.kr</a> / (국번없이) 118 )</li>
			<li>개인정보분쟁조정위원회 ( <a href="http://kopico.go.kr/">http://kopico.go.kr/</a> (국번없이) 118 )</li>
			<li>개인정보보호 지원포털 ( <a href="http://www.privacy.go.kr">http://www.privacy.go.kr</a> / 02-2100-3994 )</li>
			<li>경찰청 사이버안전국 ( <a href="http://cyberbureau.police.go.kr">http://cyberbureau.police.go.kr</a> / (국번없이) 182 )</li>
		</ul>
	</li>
	<li>
		<h4>고지의 의무</h4>
		<p>현 개인정보취급방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 '공지사항'을 통해 고지할 것입니다.</p>
	</li>
</ol>

</div>

<div class="push"></div>
</div>
<% include ../../layouts/footer %>

</body>
</html>
