<% include ../../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../../layouts/nav-global %>

<div class="container" style="background-color:#fff; border:1px solid #ddd;">

<h3 class="text-center">만날 서비스 약관</h3>

<h4 class="text-center">제1장 총칙</h4>

	<h5>제1조(목적)</h5>
		<p>본 약관은 (주)디씨더블유(이하 “회사”라 합니다)가 제공하는 서비스의 이용과 관련하여 회사와 회원의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.</p>

	<h5>제2조(정의)</h5>
		<p>본 약관에서 사용하는 용어의 정의는 다음 각 호와 같으며, 정의되지 않은 용어에 대한 해석은 서비스 관행 및 관계법령에 따릅니다.</p>
		<ol>
			<li>“이용자”라 함은 회사의 웹사이트 또는 애플리케이션에 접속하여 본 약관에 따라 회사가 제공하는 콘텐츠 및 제반 서비스를 이용하는 회원 및 비회원을 말합니다.</li>
			<li>“회원”이라 함은 회사의 웹사이트 또는 애플리케이션에 접속하여 본 약관에 동의하고 회사와 이용계약을 체결하고 회사가 제공하는 정보와 서비스를 지속적으로 이용하는 고객을 말합니다.</li>
			<li>“서비스”라 함은 이용자가 PC, 스마트폰 등 전자기기를 통해 콘텐츠를 구매, 열람, 공유하거나 도서목록을 조회 또는 공유 할 수 있도록 회사가 제공하는 모든 서비스를 말합니다.</li>
			<li>“콘텐츠”라 함은 회사가 웹사이트 또는 애플리케이션을 통해 제공하는 전자책 등의 간행물 및 기타 관련정보로서, 콘텐츠산업 진흥법 제2조 제1항 제1호가 규정하는 부호•문자•도형•색채•음성•음향•이미지 및 영상 등(이들의 복합체를 포함)의 자료 또는 정보를 말합니다.</li>
			<li>“스토어(애플리케이션에서는 ‘서점’이라 칭합니다)”라 함은 회사가 이용자에게 콘텐츠를 제공하기 위해 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말합니다.</li>
			<li>“아이디(ID)”라 함은 회원의 식별과 회원의 서비스 이용을 위하여 회원이 등록한 전자우편주소 또는 페이스북 계정등을 말합니다.</li>
			<li>“비밀번호(Password)”라 함은 회원이 아이디와 일치하는 회원임을 확인하고 회원정보를 보호하기 위하여 회원이 정한 문자, 숫자 또는 특수문자의 조합을 말합니다.</li>
			<li>“코인”라 함은 유상 또는 무상으로 회사 웹사이트 또는 애플리케이션을 통해 콘텐츠 등을 구매할 수 있는 가상의 지불수단을 말합니다.</li>
		</ol>

	<h5>제3조(약관의 게시와 개정)</h5>
		<ol>
			<li>회사는 이 약관을 회사의 홈페이지(www.mannal.com) 또는 애플리케이션 내 초기화면에 게시하거나 연결화면을 제공하는 방법으로 회원에게 공지합니다.</li>
			<li>회사는 「약관의 규제에 관한 법률」, 「정보통신망이용촉진 및 정보보호 등에 관한 법률」(이하 ‘정보통신망법’이라 합니다), 「콘텐츠산업진흥법」, 「전자상거래 등에서의 소비자보호에 관한 법률」 등 관련 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</li>
			<li>회사가 약관을 개정할 경우에는 적용일자, 개정내용 및 개정사유를 명시하여 제1항의 방식에 따라 그 개정약관의 적용일자 10일 전부터 공지하며, 기존 회원에게는 회원가입 시 회원이 공개한 전자우편주소 또는 전자쪽지, 팝업창 등의 방법으로 공지합니다. 다만, 약관 중 회원에게 불리하거나 중대한 사항의 변경은 30일 전부터 공지하고, 회원의 전자우편, 전자쪽지, 로그인시 동의창 등의 전자적 수단을 통해 별도로 알립니다.</li>
			<li>개정약관 공지 시 회원이 동의 또는 거부의 의사표시를 하지 않으면 승낙한 것으로 간주하겠다는 내용도 함께 공지한 경우에는 회원이 당해 개정약관 시행일까지 거부의사를 명시적으로 표시하지 않는다면 개정약관에 동의한 것으로 간주합니다.</li>
			<li>회원이 개정약관의 적용에 동의하지 않는 경우 회사 또는 회원은 서비스 이용계약을 해지할 수 있습니다.</li>
		</ol>

	<h5>제4조(약관의 효력)</h5>
		<ol>
			<li>본 약관은 이용자가 회원가입 시 약관의 내용에 동의하고, 회사가 그 회원가입 신청에 대하여 승낙함으로써 효력이 발생합니다.</li>
			<li>제1항에도 불구하고 회원가입을 하기 전인 이용자가 회사가 제공하는 서비스를 이용하는 경우에는 본 약관 중 비회원인 이용자에게 적용되는 규정에 동의한 것으로 봅니다.</li>
		</ol>
<hr>
<h4 class="text-center">제2장 서비스이용계약 체결 및 해지</h4>

	<h5>제5조(회원가입신청)</h5>
		<ol>
			<li>회원으로 가입하여 회사 서비스를 이용하고자 하는 자는 약관의 내용을 숙지한 후 동의함을 표시하고, 회사가 제시하는 소정의 회원가입 양식에 관련사항을 기재하여 회원가입을 신청하여야 합니다.</li>
			<li>회사는 제1항의 회원가입시 필요한 경우, 회사가 정한 본인인증 등의 절차를 거치도록 할 수 있습니다.</li>
			<li>만 14세 미만인 자가 회원가입신청을 할 때에는 개인정보보호법에 따라 법정대리인의 동의를 받아야 하며, 회사는 이 경우 법정대리인의 동의여부를 확인하기 위해 만 14세 미만의 자에게 법정대리인의 기본적인 정보(이름, 연락처 등)의 제공을 요청할 수 있습니다.</li>
		</ol>

	<h5>제6조(회원가입신청의 승낙)</h5>
		<ol>
			<li>
				회사는 제5조에 따른 이용자의 회원가입신청을 다음 각 호 및 이에 준하는 특별한 사정이 없는 한 승낙하는 것을 원칙으로 하고, 이용승낙의 의사를 서비스화면에 게시하거나 이메일 또는 기타 방법으로 이용신청자에게 통지합니다.

				<ul class="list-unstyled">
					<li>① 이용자의 귀책사유로 인하여 승낙이 불가능한 경우</li>
					<li>② 다른 사람의 이메일 등 개인정보를 도용하거나 이미 가입된 회원의 아이디, 이메일 등이 동일한 경우</li>
					<li>③ 회사가 제시하는 회원가입 신청양식에 허위의 정보를 기재하거나 필요한 정보를 기재하지 않은 경우</li>
					<li>④ 회사가 본 조에 따라 회원가입신청을 승낙하지 않거나 유보한 경우에는 팝업창 등을 통해 회원가입신청을 한 이용자에게 알립니다. 단, 회사의 귀책사유 없이 회원가입신청을 한 이용자에게 알릴 수 없는 경우에는 예외로 합니다.</li>
					<li>⑤ 회원이 계약해지한 후 30일이 지나지 않은 상태에서 다시 가입신청을 하는 경우</li>
				</ul>
			</li>
			<li>회사가 제1항 각 호 및 이에 준하는 특별한 사정이 있음을 알지 못한 상태에서 이용승낙의 의사를 표시한 경우에는 그 사정이 있음을 안 이후 회사는 이용승낙의 의사를 취소할 수 있습니다.</li>
			<li>회사는 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.</li>
			<li>회사가 본 조에 따라 회원가입신청을 승낙하지 않거나 유보한 경우에는 팝업창 등을 통해 회원가입신청을 한 이용자에게 알립니다. 단, 회사의 귀책사유 없이 회원가입신청을 한 이용자에게 알릴 수 없는 경우에는 예외로 합니다.</li>
		</ol>

	<h5>제7조(회원의 해지)</h5>
		<ol>
			<li>회원은 언제든지 회사에게 해지의사를 통지함으로써 이용계약을 종료할 수 있습니다.</li>
			<li>회사는 회원이 해지의사를 통지한 경우(회원탈퇴요청) 즉시 회원탈퇴에 관한 조치를 취합니다.</li>
			<li>회원이 해지의사를 표시한 경우 회원이 구매한 콘텐츠 등 서비스상 보관함에 보관된 전자책 등 자료는 삭제되며, 서비스이용과 관련한 모든 권리를 상실하게 됩니다.</li>
			<li>본조에 따라 해지한 회원이 이 약관이 정하는 바에 따라 일정기간이 지난 후 다시 회원가입을 할 수 있습니다.</li>
			<li>회원이 이용계약을 해지할 경우 회사가 보유한 회원의 모든 데이터는 삭제됩니다. 다만, 이용계약 해지에도 불구하고 관련법 및 개인정보취급방침에 따라 예외적으로 회사가 회원정보를 보유할 수 있습니다.</li>
		</ol>

	<h5>제8조(회사의 해지)</h5>
		<ol>
			<li>회사는 회원이 이 약관에서 정한 이용자 또는 회원의 의무를 위반한 경우에는 해지사유, 해지일을 정하여 회원에게 사전 통보하는 방법으로 이용계약을 해지할 수 있습니다. 다만, 회원이 법령을 위반하거나 고의 또는 중대한 과실로 회사에 손해를 입힌 경우에는 사전통보없이 이용계약을 해지할 수 있습니다.</li>
			<li>회사의 해지의사가 회원에게 도달한 때에 이용계약은 종료되나, 회원이 제공한 연락처 정보의 오류로 인하여 회사가 해지의사를 통지할 수 없는 경우에는 회사의 홈페이지 또는 애플리케이션 서비스 내 회원로그인 화면에서 팝업창 등을 통해 해지의사를 공지하는 것으로 해지의사의 통지를 대신합니다.</li>
			<li>제1항에 따른 해지 시 회원이 보유한 유료콘텐츠를 포함한 데이터는 해지일 이후에는 삭제될 수 있습니다.</li>
		</ol>

	<h5>제9조(해지시 코인의 처리)</h5>
		<ol>
			<li>회원 또는 회사가 이용계약을 해지하는 경우, 회원이 보유한 코인 중 회사가 서비스이용촉진, 이벤트 등의 사유로 지급한 코인은 해지일 이후 소멸합니다.</li>
			<li>회원이 유료로 구입한 코인 중 구입일로부터 7일이 경과하지 않은 부분은 해지일을 기준으로 제23조에 따라 환불합니다.</li>
			<li>제2항의 환불조치가 완료되기 이전에도 해지일부터 회원은 서비스를 이용할 수 없습니다.</li>
		</ol>
<hr>
<h4 class="text-center">제3장 회원정보의 관리</h4>

	<h5>제10조(회원의 정보수집 및 처리)</h5>
		<ol>
			<li>회사는 회원가입신청을 받을 때 회원이 되고자 하는 이용자로부터 이메일, 비밀번호 등의 최소한의 개인정보만을 수집합니다.</li>
			<li>회사는 회원이 유료서비스 결제를 하고자 하는 경우, 회원에게 휴대전화번호, 신용카드 번호 등 원활한 서비스 제공을 위한 최소한의 정보를 요구•수집하여 처리할 수 있습니다.</li>
			<li>회사는 회원의 개인정보 수집 및 처리와 관련하여 ‘개인정보취급방침’을 준수합니다.</li>
		</ol>

	<h5>제11조(회원의 아이디, 비밀번호 관리의무)</h5>
		<ol>
			<li>회원은 아이디와 비밀번호에 대한 관리책임이 있으며, 이를 타인에게 공개하여 제3자가 이용하도록 해서는 안됩니다.</li>
			<li>회원은 자신의 아이디 및 비밀번호가 유출되어 제3자가 이를 사용하고 있음을 인지한 경우 즉시 회사에 알려야 합니다.</li>
			<li>회사는 제2항에 따른 통지를 받은 경우, 회원의 개인정보보호 및 기타 서비스 부정이용행위 방지 등을 위해 그 회원에게 비밀번호의 변경 등 필요한 조치를 요구할 수 있고, 회원은 이와 같은 회사의 요구에 성실히 응해야 합니다. 이 경우 회원이 회사가 정한 소정의 절차에 따라 비밀번호를 변경하기 전까지 회원의 서비스 이용이 제한될 수 있습니다.</li>
			<li>회사는 회원이 제2항 또는 제3항에 따른 의무를 성실히 이행하지 않아 생긴 불이익에 대해 책임지지 않습니다.</li>
		</ol>

	<h5>제12조(회원정보의 변경)</h5>
		<p>회원은 회사가 홈페이지 또는 애플리케이션을 통해 제공하는 “개인정보관리” 메뉴를 이용해 자신의 비밀번호 등 개인정보를 열람하고 수정할 수 있습니다. 그러나 이용자 식별을 위한 아이디는 수정이 불가능합니다.</p>

	<h5>제13조(개인정보의 보호 및 관리)</h5>
		<ol>
			<li>회사는 관계 법령이 정하는 바에 따라 계정정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관계법령 및 회사가 별도로 고지하는 개인정보취급방침이 적용됩니다.</li>
			<li>서비스의 일부로 제공되는 개별 서비스를 제외한 것으로서 홈페이지 및 애플리케이션에서 단순히 링크된 제3자 제공의 서비스에 대하여는 회사의 개인정보취급방침이 적용되지 않습니다.</li>
			<li>회사는 회원의 귀책사유로 인하여 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.</li>
		</ol>
<hr>
<h4 class="text-center">제4장 계약당사자의 의무</h4>

	<h5>제14조(회사의 의무)</h5>
		<ol>
			<li>회사는 본 약관에 따라 안정적으로 서비스를 제공하기 위해 최선의 노력을 다합니다.</li>
			<li>회사는 회원의 동의 없이 회원의 개인정보를 제3자에게 제공할 수 없으며, 회원의 개인정보를 안전하게 관리하기 위해 필요한 노력을 해야 합니다.</li>
			<li>회사는 회원이 유료서비스 이용 및 그 대금지급내역을 확인할 수 있도록 조치합니다.</li>
			<li>회사는 서비스 이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 지체없이 처리하고, 회원에게 처리과정 및 결과를 전달합니다.</li>
		</ol>

	<h5>제15조(회원의 의무)</h5>
		<ol>
			<li>회원은 회원의 이용권한을 타인에게 양도, 증여하거나 이를 담보로 제공할 수 없습니다.</li>
			<li>
				회사는 회원이 다음 각 호에 해당하는 행위를 한 경우, 기간을 정하여 서비스 이용을 일부 또는 전부 중지하거나 상당기간의 최고 후 이용계약을 해지할 수 있습니다.
				<ul class="list-unstyled">
					<li>① 회원이 회원가입신청 또는 개인정보변경시 허위사실을 기재한 경우</li>
					<li>② 회원이 서비스 이용에 필요한 아이디, 비밀번호 등을 공유하는 경우</li>
					<li>③ 회원이 타인의 아이디, 비밀번호 또는 개인정보를 부당하게 이용하는 경우</li>
					<li>④ 회원이 회사 또는 제3자의 저작권, 인격권 등을 침해하는 경우</li>
					<li>⑤ 회원이 회사에서 제공하는 서비스를 이용하여 영리활동을 하는 경우</li>
					<li>⑥ 회원이 다른 이용자의 서비스 이용을 방해하거나, 회사의 운영진, 직원 또는 관계자를 사칭하는 경우</li>
					<li>⑦ 관계법령 및 기타 본 약관의 규정을 위반한 경우</li>
				</ul>
			</li>
		</ol>
<hr>
<h4 class="text-center">제5장 서비스이용</h4>

	<h5>제16조(서비스)</h5>
		<ol>
			<li>회사는 홈페이지 또는 애플리케이션을 통해 이용자에게 전자책 등 콘텐츠를 열람할 수 있도록 하고, 회원이 스토어를 통해 구입한 유료•무료 콘텐츠를 검색•열람•보관할 수 있는 서비스를 제공합니다. 다만, 비회원은 회사의 정책에 따라 서비스 이용에 제한이 있을 수 있습니다.</li>
			<li>서비스는 24시간, 온라인을 통해 제공하는 것을 원칙으로 하되, 본 약관 또는 관련법령상 제한, 설비 및 기술상 한계 등의 사유로 이용자 전부 또는 일부에게 제한될 수 있습니다.</li>
		</ol>

	<h5>제17조(거래조건에 대한 정보의 표시)</h5>
		<ol>
			<li>
				회사는 다음 각 호에 해당하는 사항을 해당 콘텐츠 또는 관련 게시물에 표시합니다. 다만, 콘텐츠의 특성상 이러한 정보가 불필요한 경우에는 그러하지 않습니다.
				<ul class="list-unstyled">
					<li>① 콘텐츠의 제작자 및 판매자, 명칭, 종류, 내용, 가격, 공급 방법 및 시기, 해당 콘텐츠의 이용기간</li>
					<li>② 콘텐츠 이용에 필요한 전자기기의 기술사양과 운영체제(OS) 명칭 및 버전</li>
					<li>③ 환불기준 등 서비스 이용계약의 해지방법 및 효과</li>
					<li>④ 이용약관 및 개인정보취급방침</li>
					<li>⑤ 콘텐츠가 청소년 유해매체에 해당하는지 여부 등 이용제한에 관한 사항</li>
				</ul>
			</li>
			<li>회사는 제1항 각 호의 사항을 회사의 웹사이트 또는 애플리케이션을 통해 이미 고지하고 있는 경우 별도로 표시하지 않을 수 있습니다.</li>
			<li>회사가 동조 제1항 제2호의 사항을 표시하여 이용자에게 고지한 경우, 회사는 이용자가 이용하는 전자기기의 사양, 운영체제(OS)의 사양으로 인해 서비스가 완벽하게 제공되지 않더라도 이에 관하여는 책임지지 않습니다.</li>
		</ol>

	<h5>제18조(콘텐츠 구매계약의 체결)</h5>
		<ol>
			<li>회원은 회사가 홈페이지 또는 애플리케이션상 스토어에서 유료콘텐츠를 구입신청을 하고 회사가 이를 승낙함으로써 콘텐츠 구매계약이 체결됩니다.</li>
			<li>
				회사는 다음 각 호에 해당하는 사유가 있는 이용자의 콘텐츠 구매신청을 승낙하지 않을 수 있습니다.
				<ul class="list-unstyled">
					<li>① 신청내용에 허위, 누락, 오기가 있는 경우</li>
					<li>② 청소년이 청소년유해매체물 등 청소년보호법 등 관계법령에 따라 구입이 제한된 콘텐츠에 대해 구매 신청을 하는 경우</li>
					<li>③ 유료 서비스 신청금액 총액과 입금총액이 일치하지 않은 경우</li>
					<li>④ 해당콘텐츠의 제공이 기술적으로 불가능하거나 현저히 어렵거나 법적으로 제공할 수 없는 경우</li>
					<li>⑤ 기타 합리적인 이유가 있는 경우로서 회사가 필요하다고 인정되는 경우</li>
				</ul>
			</li>
			<li>회사는 회원이 제1항의 절차에 따라 유료서비스 이용을 신청할 경우, 회원에게 승낙의 의사를 통지하고, 승낙의 통지가 회원에게 도달한 시점에 계약이 성립한 것으로 봅니다.</li>
			<li>회사의 승낙의 의사표시에는 회원의 구입신청에 대한 확인 및 서비스제공 가능여부, 구입신청의 정정, 취소 등에 관한 정보 등을 포함합니다.</li>
			<li>미성년 회원의 유료결제시 법정대리인의 동의가 필요하나, 코인 구입•충전 등이 법정대리인의 동의 하에 이뤄진 경우 유료로 구입한 코인 및 회사가 무료로 제공한 코인의 사용에도 법정대리인이 동의한 것으로 봅니다. 다만, 법정대리인이 이메일, 팩스, 우편 등의 방법으로 회사에게 당해 미성년 회원의 코인 등 구입•충전•사용에 관하여 동의하지 않는 의사를 표시한 경우에는 회사는 해당 회원의 서비스 이용을 일부 제한할 수 있습니다.</li>
			<li>이용자가 어플리케이션상 스토어 외 제3자가 제공하는 서비스를 이용해 회사가 제공하는 콘텐츠를 구매해 이용하는 경우 청약철회, 계약해제•해지, 환불 등의 절차에 회사는 관여하지 않습니다.</li>
		</ol>

	<h5>제19조(계약서의 교부)</h5>
		<p>회사는 콘텐츠에 관한 계약이 체결된 후 회원 및 이용자에게 전조에서 규정하고 있는 내용이 모두 기재된 계약내용에 관한 서면(전자문서를 포함)을 콘텐츠의 공급시까지 교부합니다.</p>

	<h5>제20조(대금의 지급 및 과오납금의 환급)</h5>
		<ol>
			<li>회원 및 이용자는 회사가 제시한 결제방법에 따라 콘텐츠의 대금을 지급하여야 합니다.</li>
			<li>회원 및 이용자가 대금을 결제함에 있어서 과오금을 지급한 경우 회사는 대금결제와 동일한 방법으로 과오금을 환급하여야 합니다. 다만, 동일한 방법으로 과오금의 환급이 불가능할 때에는 즉시 이를 고지하고, 회원 및 이용자가 선택한 방법으로 환급합니다.</li>
			<li>회사의 책임있는 사유로 과오금이 발생한 경우 회사는 계약비용•수수료 등에 관계없이 과오금 전액을 환급하여야 합니다. 다만, 회원 및 이용자의 책임있는 사유로 과오금이 발생한 경우, 회사는 과오금을 환급하는데 소요되는 비용(계좌이체 수수료 등)을 합리적인 범위 내에서 공제하고 환급할 수 있습니다.</li>
			<li>회사는 회원 및 이용자의 과오금환급청구를 거절할 경우 과오금이 없음을 입증하여야 합니다.</li>
		</ol>

	<h5>제21조(콘텐츠의 공급)</h5>
		<ol>
			<li>회사는 콘텐츠의 공급시기에 관하여 이용자와 맺은 별도의 약정이 없는 이상, 이용자가 회사가 정한 절차에 따라 해당 유료서비스 이용대금 전액을 결제하였음을 확인한 다음 콘텐츠를 공급할 수 있도록 필요한 조치를 취합니다.</li>
			<li>제1항에도 불구하고 기술적•법적 한계로 즉시 콘텐츠 공급이 어려운 경우 회사는 가능한 최대한 빠른 시점에 콘텐츠가 공급될 수 있도록 노력하고, 이용자가 콘텐츠공급절차 및 진행사항을 확인할 수 있도록 적절한 조치를 취합니다.</li>
			<li>회사는 청약을 받은 콘텐츠를 공급하기 곤란하다는 것을 알았을 때에는 그 사유를 회원 및 이용자에게 지체없이 알리고, 콘텐츠의 공급 전에 그 대금의 전부 또는 일부를 지급받은 경우에는 이용자가 그 대금의 전부 또는 일부를 지급한 날부터 3영업일 이내에 환급에 필요한 조치를 취합니다.</li>
			<li>회사는 콘텐츠 판매, 공급 및 그 대금 결제와 관련하여 관련 법령을 준수합니다.</li>
		</ol>

	<h5>제22조(청약철회)</h5>
		<ol>
			<li>
				회사와 콘텐츠에 관한 계약을 체결한 회원은 다음 각호의 기간 이내에 당해 계약에 관한 청약의 철회를 할 수 있습니다.
				<ul class="list-unstyled">
					<li>① 계약내용에 관한 서면을 교부 받은 날로부터 7일. 단, 그 서면을 교부받은 때보다 콘텐츠의 공급이 늦게 이루어진 경우에는 콘텐츠의 공급을 받거나 공급이 개시된 날부터 7일</li>
					<li>② 계약내용에 관한 서면을 교부 받지 아니한 경우, 회사의 주소 등이 기재되지 아니한 서면을 교부 받은 경우 또는 회사의 주소 변경 등의 사유로 제1호의 기간 이내에 청약철회 등을 할 수 없는 경우에는 그 주소를 안 날 또는 알 수 있었던 날로부터 7일</li>
				</ul>
			</li>
			<li>
				다음 각 호의 어느 하나에 해당하는 경우에 회원은 회사의 의사에 반하여 제1항에서 정한 청약철회를 할 수 없습니다.
				<ul class="list-unstyled">
					<li>① 콘텐츠를 열람 또는 다운로드 받거나 실시간 스트리밍 서비스를 통해 이용한 경우</li>
					<li>② 회원의 주문에 의하여 콘텐츠가 개별적으로 생산되는 경우 등 청약철회를 인정하면 회사에게 회복할 수 없는 중대한 피해가 예상되는 경우로서 사전에 당해 거래에 대하여 별도로 그 사실을 고지하고 이용자의 서면(전자문서 포함)에 의한 동의를 얻은 경우</li>
					<li>③ 그 밖에 거래의 안전을 위하여 법령으로 정하는 경우</li>
				</ul>
			</li>
			<li>회원은 콘텐츠의 내용이 표시•광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 당해 콘텐츠를 공급받은 날로부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 청약철회를 할 수 있습니다.</li>
			<li>회원은 구두, 서면(전자문서포함), 전자우편 또는 홈페이지나 애플리케이션 내 스토어 메뉴 등을 이용해 청약철회를 할 수 있습니다.</li>
			<li>회사는 청약철회이 의사표시를 수시한 후 지체없이 이의 수신사실을 회원에게 회신합니다.</li>
		</ol>

	<h5>제23조(청약철회의 효과 및 환불)</h5>
		<ol>
			<li>회원이 청약철회를 서면으로 하는 경우 그 의사표시가 기재된 서면을 발송한 날에 그 효력이 발생합니다.</li>
			<li>청약철회를 한 경우 회원은 공급받은 콘텐츠를 반환하여야 하며, 다운로드받은 온라인콘텐츠의 경우에는 이를 삭제하여야 합니다.</li>
			<li>콘텐츠의 반환에 필요한 비용은 제20조 제1항에 의한 청약철회의 경우 회원이 부담하며, 제20조 제3항에 의한 청약철회의 경우 회사가 부담합니다.</li>
			<li>회사, 콘텐츠대금을 지급받은 자 또는 회원과 콘텐츠에 관한 계약을 체결한 자가 동일인이 아닌 경우 각자는 청약철회에 따른 콘텐츠대금의 환급과 관련한 의무의 이행에 있어서 연대하여 책임을 집니다.</li>
			<li>회사는 콘텐츠대금을 환급함에 있어서 회원이 신용카드나 그 밖에 전자상거래 등에서의 소비자보호에 관한 법률 시행령으로 정하는 결제수단으로 대금을 지급한 때에는 지체없이 당해 결제수단을 제공한 사업자로 하여금 대금의 청구를 정지 또는 취소하도록 요청합니다. 다만 회사가 결제업자로부터 이미 대금을 지급받은 때에는 이를 결제업자에게 환불하고 이를 소비자에게 통지합니다.</li>
			<li>회사가 결제업자에게 환급하지 아니하여 회원으로 하여금 대금을 지급하게 한 경우 회사는 그 지연기간에 대한 지연배상금을 회원에게 지급해야 합니다.</li>
			<li>회사가 정당한 사유없이 결제업자에게 대금을 환급하지 아니한 경우 회원은 자신이 환급받을 금액에 대하여 결제업자에게 회사에 대한 다른 채무와 상계할 것을 요청할 수 있으며, 이러한 상계요청을 받은 결제업자는 회사에 대한 다른 채무와 상계할 수 있습니다.</li>
			<li>결제업자가 제7항에 의한 상계를 정당한 사유없이 게을리 한 경우 회원은 결제업자의 대금청구에 대하여 거절할 수 있습니다. 이 경우 회사와 결제업자는 그 지급의 거절을 이유로 당해 회원을 약정한 기일 이내에 채무를 변제하지 아니한 자로 처리하는 등 회원에게 불이익을 주어서는 안됩니다.</li>
			<li>회사는 이미 재화 등이 일부 사용되거나 일부 소비된 경우에는 그 재화 등의 일부 사용 또는 일부 소비에 의하여 회원이 얻은 이익 또는 그 재화 등의 공급에 든 비용에 상당하는 금액을 회원에게 청구할 수 있습니다.</li>
			<li>회사는 회원에게 청약철회를 이유로 위약금 또는 손해배상을 청구할 수 없습니다.</li>
		</ol>

	<h5>제24조(콘텐츠 구매계약의 해제•해지)</h5>
		<ol>
			<li>
				이용자는 다음 각 호의 사유가 있을 때에는 당해 콘텐츠를 공급받은 날로부터 3개월 이내 또는 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 콘텐츠이용계약을 해제•해지할 수 있습니다.
				<ul class="list-unstyled">
					<li>① 이용계약에서 약정한 콘텐츠가 제공되지 않는 경우</li>
					<li>② 제공되는 콘텐츠가 표시•광고 등과 상이하거나 현저한 차이가 있는 경우</li>
					<li>③ 기타 콘텐츠의 결함으로 정상적인 이용이 현저히 불가능한 경우</li>
				</ul>
			</li>
			<li>제1항의 계약해제•해지는 이용자가 제20조 제4항의 방법으로 회사에 그 의사를 표시한 때에 효력이 발생합니다.</li>
			<li>회사는 제3항에 따라 이용자가 표시한 계약해제•해지의 의사표시를 수신한 후 지체 없이 이러한 사실을 이용자에게 회신합니다.</li>
			<li>이용자는 제2항의 사유로 계약해제•해지의 의사표시를 하기 전에 상당한 기간을 정하여 완전한 콘텐츠 혹은 서비스이용의 하자에 대한 치유를 요구할 수 있습니다.</li>
			<li>회사가 부득이한 사유로 서비스를 계속할 수 없거나 해당 콘텐츠를 공급할 수 없는 경우에는 이를 이용자에게 알린 후 환불합니다.</li>
		</ol>

	<h5>제25조(이용자의 계약해제•해지 효과)</h5>
		<ol>
			<li>회사는 이용자가 계약해제•해지의 의사표시에 대하여 회신한 날로부터 3영업일 이내에 대금의 결제와 동일한 방법으로 이를 환급하여야 하며, 동일한 방법으로 환불이 불가능할 때에는 이를 사전에 고지하여야 합니다. 이 경우 회사가 회사의 책임으로 이용자에게 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.</li>
			<li>회사가 제1항에 따라 환급할 경우에 이용자가 서비스이용으로부터 얻은 이익에 해당하는 금액을 공제하고 환급할 수 있습니다.</li>
			<li>일정기간 동안 콘텐츠를 이용하고 그에 따른 할인혜택, 무상포인트지급 등이 이뤄지는 상품의 경우 회원이 해당 상품의 구매계약을 해제•해지하는 경우 회원에게 지급한 무상포인트는 즉시 회수하고 사용한 무상포인트에 대해서는 동일한 수의 유상포인트 구입에 필요한 대금 상당 및 할인혜택으로 인해 회원이 얻은 경제적 이득 상당을 회사에게 반환하여야 합니다.</li>
			<li>회사는 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다. 다만, 제2항의 금액공제가 필요한 경우에는 그러하지 아니할 수 있습니다.</li>
			<li>회사, 콘텐츠 등의 대금을 지급 받은 자 또는 이용자와 콘텐츠이용계약을 체결한 자가 동일인이 아닌 경우에 각자는 청약철회 또는 계약해제•해지로 인한 대금환급과 관련한 의무의 이행에 있어서 연대하여 책임을 집니다.</li>
		</ol>

	<h5>제26조(회사의 계약해제•해지 및 이용제한)</h5>
		<ol>
			<li>회사는 이용자가 제28조 제1항 각호, 제30조 제3항 각호에서 정한 행위를 하였을 경우 사전통지 없이 계약을 해제•해지하거나 또는 기간을 정하여 서비스이용을 제한할 수 있습니다.</li>
			<li>제1항의 해제•해지는 회사가 자신이 정한 통지방법에 따라 이용자에게 그 의사를 표시한 때에 효력이 발생합니다.</li>
			<li>회사의 해제•해지 및 이용제한에 대하여 이용자는 회사가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 회사가 인정하는 경우, 회사는 즉시 서비스의 이용을 재개합니다.</li>
		</ol>

	<h5>제27조(코인)</h5>
		<ol>
			<li>회사는 회사정책에 따라  쿠폰, 포인트 등 다양한 명칭의 코인 제도를 둘 수 있습니다.</li>
			<li>회원은 유료로 코인을 구입(결제•충전)한 후 7일 이내에 구입을 철회(결제•충전 취소)할 수 있습니다.</li>
			<li>회원이 유료로 구입한 코인을 일부 사용한 경우, 환불을 요청하면 차액을 환불 받을 수 있습니다. 단, 환불 시에는 은행이체 및 결제대행 수수료 등의 사유로, 해당 코인으로 무료 지급받은 포인트 및 환불수수료(10%)를 공제하고 남은 금액을 환불하여 드립니다.</li>
			<li>회사가 회원에게 무료로 지급한 코인은 유효기간 내에만 사용이 가능하며(유효기간이 없을 경우 해당 없음), 환불 또는 기타 금전으로 지급되지 않습니다. 무료 코인의 유효기간은 회사정책에 의한 기준을 따르며 유효 기간 이후에는 자동으로 소멸됩니다.</li>
			<li>회원이 사용한 코인은 환불이 되지 않습니다. 단, 회원의 기기 환경에 따라 부득이하게 콘텐츠 이용이 불가능한 경우 회원이 사용한 코인만큼 재충전해줍니다.</li>
			<li>회원이 유료로 결제한 코인은 마지막 이용일로부터 5년이 경과하도록 이용하지 않을 경우, 상법 상사소멸시효에 따라 소멸될 수 있습니다. 다만, 무상으로 제공하는 이벤트성 코인의 경우는 기본적으로 유료 코인과 동일하게 처리되나 회사의 정책에 따라 그 전이라도 소멸될 수 있습니다.</li>
		</ol>
<hr>
<h4 class="text-center">제6장 서비스이용제한, 저작권, 면책</h4>

	<h5>제28조(부정이용 금지)</h5>
		<ol>
			<li>
				회사는 다음 각 호에 해당하는 경우를 부정이용행위로 봅니다.
				<ul class="list-unstyled">
					<li>① 회사에 등록한 휴대용 기기(스마트폰, 태블릿PC 등)와 PC 외의 다른 기기를 이용해 콘텐츠를 이용하는 경우</li>
					<li>② 회원이 자신의 아이디 및 애플리케이션, 도서, 쿠폰, 포인트 등을 타인에게 판매, 대여, 양도하는 행위 및 이를 광고하는 행위를 한 경우</li>
					<li>③ 서비스 이용 중, 복제프로그램을 실행하거나 화면을 캡쳐하거나 녹화를 하는 경우</li>
					<li>④ 콘텐츠의 DRM(Digital Rights Management)을 무력화하는 일체의 행위를 한 경우</li>
					<li>⑤ 결제를 통한 회사와 이용자 사이의 정당한 계약이 성립되지 아니한 상태에서 콘텐츠를 불법으로 사용하려는 일체의 행위를 한 경우</li>
					<li>⑥ 진행되는 이벤트의 참여 조건에 반하여 참여한 일체의 행위를 한 경우</li>
				</ul>
			</li>
			<li>
				회사는 제1항 각 호의 행위를 한 이용자를 인지한 경우, 다음 각 호에 따른 조치를 취할 수 있습니다.
				<ul class="list-unstyled">
					<li>① [1차 발견 시] 회사는 이용자의 메일 계정이나 서비스 내 알림 기능을 통하여 해당 위반 사실을 사전 고지하고, 부정이용을 통해 취득한 콘텐츠, 쿠폰 포인트 등의 이용을 중지할 수 있습니다.</li>
					<li>② [2차 발견 시] 회사는 위반 내용을 이용자의 메일 계정이나 서비스 내 알림 기능을 통하여 고지하고 서비스 이용을 정지시킴과 동시에 필요시 법적인 대응을 할 수 있습니다.</li>
				</ul>
			</li>
			<li>회사가 제2항 제1호에 따른 조치를 한 경우, 해당 조치를 받은 이용자는 회사에게 해당조치가 있은 날로부터 30일내에 해당조치에 관한 의견을 밝힐 수 있고, 회사는 이용자의 의견을 받은 날로부터 30일 이내에 이용자의 의견이 정당한 경우 제2항 제1호의 조치를 해제하고, 이용자의 의견이 정당하지 않은 경우 제2항 제1호의 조치를 계속할 수 있습니다.</li>
			<li>회사가 제2항 제2호에 따른 조치를 한 경우, 해당 조치를 받은 이용자는 회사에게 해당조치가 있은 날로부터 30일내에 해당조치에 관한 의견을 밝힐 수 있고, 회사는 이용자의 의견을 받은 날로부터 30일 이내에 이용자의 의견이 정당한 경우 제2항 제2호의 조치를 해제하고, 이용자의 의견이 정당하지 않은 경우 회원등록을 말소시키고 구입한 콘텐츠의 사용권한을 박탈할 수 있습니다.</li>
		</ol>

	<h5>제29조(서비스 이용 제한)</h5>
		<ol>
			<li>회사는 국가비상사태, 서비스 설비의 장애, 서비스 이용의 폭주 또는 해킹/바이러스 등으로 인하여 불특정 이용자에게 심각한 피해를 입힐 수 있다고 판단될 경우 별도의 사전공지 없이도 서비스를 제한하거나 중단 할 수 있습니다.</li>
			<li>회사는 제1항에 따라 서비스를 제한하거나 중지했을 때에는 서비스 제한 및 중지 직후 이용자에게 서비스 제한 사유 등을 알립니다.</li>
			<li>
				회사는 이용자의 서비스 이용 내용이 다음 각 호에 해당 할 경우 서비스를 제한하거나 정지할 수 있습니다.
				<ul class="list-unstyled">
					<li>① 과도한 트래픽을 발생시키는 행위</li>
					<li>② 정보 통신 설비의 오동작, 정보의 파괴를 유발하는 컴퓨터 바이러스 프로그램을 유포하는 경우</li>
					<li>③ 회원 계정을 타인에게 공유하는 경우, 계정 및 권한을 양도한 경우</li>
					<li>④ 미래창조과학부, 방송통신위원회, 한국인터넷진흥원 기타 국가기관의 서비스 중단 요청이 있을 경우</li>
					<li>⑤ 저작권이 있는 음원, 동영상, 소프트웨어를 불법 공유하는 등 다른 이용자 또는 제3자의 지적 재산권을 침해하는 경우</li>
					<li>⑥ 서비스를 이용하여 범죄행위를 한 경우</li>
					<li>⑦ 기타 이용자의 귀책사유로 정상적인 서비스 제공이 불가능한 상황이 초래되었다고 회사가 판단하는 경우</li>
				</ul>
			</li>
			<li>제3항 제4호에 해당하는 자료가 있는 경우 회사는 해당 자료가 다른 이용자에게 노출되지 않도록 임시조치를 취할 수 있고, 해당 자료를 업로드한 회원에게 30일 내에 해당 자료가 제3항 제4호에 해당하지 않는다고 판단하는 경우 소명자료를 제출할 것을 요구할 수 있습니다.</li>
			<li>제3항 제6호와 관련하여 저작권 등 지적재산권을 침해당했다고 주장과 함께 소명자료를 회사에 제출하는 이용자가 있는 경우 저작권법 제103조에 따른 절차에 따라 처리합니다.</li>
		</ol>

	<h5>제30조(저작권)</h5>
		<ol>
			<li>회사가 서비스하거나 소유한 콘텐츠에 대한 저작권 및 기타 지식재산권은 회사에 귀속합니다.</li>
			<li>회원은 회사가 제공하는 콘텐츠를 이용함으로써 얻은 정보 중 회사에 지식재산권이 귀속된 정보를 회사의 승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다. 다만, 「저작권법」 및 「콘텐츠산업진흥법」등에서 이를 허용한 경우에는 그러하지 않습니다.</li>
		</ol>

	<h5>제31조(회사의 면책)</h5>
		<ol>
			<li>회사는 전시, 사변, 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 기술적 결함 기타 불가항력적 사유로 서비스를 제공할 수 없는 경우에는 책임이 면제됩니다.</li>
			<li>회사는 회원의 귀책사유로 인한 서비스의 중지, 이용장애 및 계약해지에 대하여 책임이 면제됩니다.</li>
			<li>회사는 기간통신 사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 회원에게 손해가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.</li>
			<li>회사는 사전에 공지된 서비스 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.</li>
			<li>회사는 회원의 전자기기 환경으로 인하여 발생하는 제반 문제 또는 회사의 고의 또는 중대한 과실이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.</li>
			<li>회사는 회원 또는 제3자가 서비스 내 또는 웹사이트 상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 대해서는 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.</li>
			<li>회사는 회원 상호간 또는 회원과 제3자간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.</li>
			<li>회사가 제공하는 서비스 중 무료서비스의 경우에는 회사의 고의 또는 중대한 과실이 없는 한 회사는 손해배상을 하지 않습니다.</li>
			<li>회사는 회원의 전자기기 오류에 의한 손해가 발생한 경우 또는 신상정보 및 이메일을 부정확하게 기재하거나 미기재하여 손해가 발생한 경우에 대하여 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.</li>
			<li>회사는 관련 법령, 정부 정책 등에 따라 이용자 전부 또는 일부에 대하여 서비스를 제한할 수 있으며, 이러한 제한사항 및 제한에 따라 발생하는 서비스 이용 관련 제반사항에 대해서는 책임이 면제됩니다.</li>
		</ol>

	<h5>제32조(분쟁해결의 준거법과 재판관할)</h5>
		<ol>
			<li>회사와 회원 간에 제기된 소송, 조정, 중재 등 법률분쟁은 대한민국법을 준거법으로 합니다.</li>
			<li>회사와 회원 간에 발생한 분쟁에 관한 소송, 조정, 중재는 제소 당시 회사의 사무소를 관할하는 지방법원을 전속관할로 합니다.</li>
			<li>해외에 주소나 거소가 있는 회원의 경우 회사와 발생한 분쟁에 관한 소송, 조정, 중재 등도 제2항에 따릅니다.</li>
		</ol>

	<h5>제33조(규정의 준용)</h5>
		<p>본 약관에 명시되지 않은 사항에 대해서는 관련 법령에 의하고, 법에 명시되지 않은 부분에 대해서는 상관례에 의합니다.</p>

<hr>
<h4 class="text-center">부칙</h4>
	<h5>제1조(부칙)</h5>
		<p>본 약관은 2016년 12월 14일부터 적용됩니다.</p>

</div>

<div class="push"></div>
</div>
<% include ../../layouts/footer %>

</body>
</html>
