<%
data.forEach(function(e) {
%>
    <div class="col-xs-12 col-sm-6 bottom-margin">
        <a href="/everyday/<%=e.series%>/detail?banner=<%=e.attr['detail-image']%>">
            <img src="" data-name="<%=e.attr['home-image']%>" class="everyday-banner" width="100%">
        </a>
    </div>
<%
});
%>
