<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div id="theme-banner" class="row">
			<img src="" data-name="" width="100%">
		</div>
	</div>

	<div class="container push-up">
		<div class="row main-top">
			<div class="col-xs-6">
				<p style="padding:20px 0;margin:0;">전체 (<span class="items-count">0</span>)</p>
			</div>
			<div class="col-xs-6 text-right"></div>
		</div>

		<div class="row" id="series-list"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
$(function(){
	Catalogs.showcase('theme', {'id':['<%=series_id%>']}, getThemeInfo);
});

function getThemeInfo(res) {
	var theme = res.showcases[0];
	if (theme) $('#theme-banner img').attr('data-name', theme.attr['image']);
	Catalogs.loadImages($('#theme-banner img'));
	getSeriesFromCategory(theme.attr.category);
}

function getSeriesFromCategory(category) {
	Catalogs.category(category, {"showcase":["theme.series"]}, function(res){
		var showcase_ids = [];
		res.categories.forEach(function(c){ showcase_ids.push(c.id); });
		Catalogs.auxiliary('theme.series', {'id': showcase_ids}, renderSeriesList);
	});
}

function renderSeriesList(series) {
	//console.log(series);
	var series_ids = [];
	$('.items-count').text(series.length);
	series.forEach(function(s) { series_ids.push(s.series); });

	Catalogs.seriesMetaData(series_ids, function(metas) {
		series.forEach(function(s) {
			var id = s.series;
			s['high-resolution'] = metas[id]['high-resolution'] || '';
			s['finished'] = metas[id]['finished'] || '';
		});
		Catalogs.renderIn($('#series-list'), '/r/series/list-b', {'data': series});
	});
}
</script>
</body>
</html>
