<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container push-up">
		<div class="row main-banner push-up">
			<img src="" data-name="B_THEME_000.jpg" width="100%">
		</div>
		<div class="row" id="themes-wrap"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
$(function(){
	Catalogs.loadImages($('.main-banner img'));
	Catalogs.showcase('theme', {sort: 'id,desc'}, loadThemes);
});

function loadThemes(res) {
	var themes = res.showcases;
	Catalogs.renderIn($('#themes-wrap'), '/r/theme/list-a', {'data': themes});
}
</script>
</body>
</html>
