<% data.forEach(function(p) { %>
    <div class="col-xs-12 col-sm-4 bottom-margin">
        <a href="/prime/<%=p['series']%>/detail?group=<%=p['group']%>">
            <img src="" data-name="<%=p['image']%>" class="prime-banner" width="100%"  style="border-radius:20px;">
        </a>
    </div>
<% }); %>
