<% data.forEach(function(p){ %>
    <div style="margin:0 10px;display:inline-block;"><img src="" data-name="<%=p.attr.image%>" width="100%" style="border-radius:20px;max-width:425px;"></div>
<% }); %>
