<% data.forEach( function(t) { %>
    <div class="col-xs-12 col-sm-6 top-margin">
        <a href="/theme/<%=t.attr.id%>">
            <img src="" data-name="<%=t.attr['image']%>" class="theme-banner" width="100%">
        </a>
    </div>
<% }); %>
