<%
/* r > main > banners */

//console.log('banners', user);
for (var id in data) {
    if (data[id]['has-own-sbml'] == 'yes') {
%>
    <a href="/event/page/<%=id%>"><img class="banner" data-name="<%=data[id]['banner-image']%>" width="100%"></a>
<%
    } else
    if (data[id]['adult-only'] != 'yes') {
%>
    <a href="/event/<%=id%>"><img class="banner" data-name="<%=data[id]['banner-image']%>" width="100%"></a>
<%
    } else {
        if (user && user.adult_view == 'yes') {
%>
    <a href="/event/<%=id%>"><img class="banner" data-name="<%=data[id]['banner-image']%>" width="100%"></a>
<%
        }
    }
} // end for
%>
