<%
/* r > main > everyday */

data.forEach(function(b) {
%>
	<div class="col-xs-12 col-sm-<%=parseInt(12/data.length)%> banner" style="margin-bottom:10px;">
		<a href="/everyday/<%=b.series%>/detail?banner=<%=b.attr['detail-image']%>">
			<img src="" alt="<%=b.title%>" data-name="<%=b.attr['detail-image']%>" width="100%">
		</a>
	</div>
<%
});
%>
