<%
/* r > main > prime */

data.forEach(function(b) {
%>
	<div class="banner" style="display:inline-block;width:320px;margin-right:11px;">
		<a href="/prime/<%=b.series%>/detail?group=<%=b.group%>">
			<img src="" alt="<%=b.title%>" data-name="<%=b['home-image']%>" width="100%" style="border-radius:20px;">
		</a>
	</div>
<%
});
%>
