<%
/* r > main > themes */

data.forEach(function(b) {
%>
	<div class="banner" style="display:inline-block;width:275px;margin-right:10px;">
		<a href="/theme/<%=b.id%>">
			<img src="" alt="<%=b.title%>" data-name="<%=b.attr['home-image']%>" width="100%">
		</a>
	</div>
<%
});
%>
