<%
/* r > main > top20 */

for (var i = 0; i < 4; i++) {
%>
	<div class="index-ranking">
<%
	for (var j = 0; j < 5; j++) {
		var key = (i*5)+j;
		if (data[key]) {
%>
		<div class="media">
			<div class="media-left">
				<a href="/series/<%=data[key].series%>/detail">
					<img src="/images/common/default_cover.jpg" data-item="<%=data[key]['latest-item']%>" class="cover">
				</a>
			</div>
			<div class="media-body">
				<h5 class="media-heading truncate"><%=key+1%>_<%=data[key].title%></h5>
				<div class="author"><%=data[key].author%></div>
				<div class="genre"><%=data[key].genre%></div>
			</div>
		</div>
<%
		}
	}
%>
	</div>
<%
}
%>
