<%
/* receipt list type-R : purchased item list */

data.forEach(function(r) {

	if (r.meta) {
		var transaction_time = getDateFormat(r.purchase_info.created_at, 'Y-m-d h:i:s');
		var expired_time = '소장';
		var gray_style = '', strike_style = '', expired_class = 'accessable';

		if (r.purchase_info.expired_at) {
			if (r.purchase_info.expired_at < (Date.now() / 1000)) {
				expired_time = '기간만료';
				strike_style = 'strike-light';
				gray_style = '-webkit-filter: grayscale(100%) opacity(50%);filter:grayscale(100%) opacity(50%);';
				expired_class= 'expired';
			} else {
				expired_time = Math.round(((r.purchase_info.expired_at - (Date.now() / 1000)) / 3600) - 1) + '시간 남음';
			}
		}
%>
	<div class="media col-xs-12 col-sm-6 <%=expired_class%>" style="border:1px solid #ddd;margin-top:0;margin-bottom:10px;">
		<div class="media-body">
			<h5 class="<%=strike_style%>"><%=r.meta.title%></h5>
			<ul class="list-unstyled <%=strike_style%>" style="font-size:0.85em;">
				<li>일시 : <%=transaction_time%></li>
				<li>가격 : <%=((r.purchase_info.price) ?  withCommas(r.purchase_info.price) + ' 코인' : '무료')%></li>
				<li>기간 : <%=expired_time%></li>
				<li style="font-size:0.8em;color:#ccc;"><%=r.purchase_info.otid%></li>
			</ul>
		</div>
	</div>
<%
	}
});

function withCommas(num) {
    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function padZero(value, length) {
	var b = Math.pow(10, length), v = parseInt(value);
	return String(b + v).substring(1);
}

function getDateFormat(timestamp, format) {
	var d = new Date(parseInt(timestamp) * 1000);
	format = format + '';
	format = format.replace('Y', d.getFullYear());
	format = format.replace('y', d.getFullYear().toString().substr(2,2));
	format = format.replace('m', padZero(d.getMonth() + 1,2));
	format = format.replace('d', padZero(d.getDate(),2));
	format = format.replace('h', padZero(d.getHours(),2));
	format = format.replace('i', padZero(d.getMinutes(),2));
	format = format.replace('s', padZero(d.getSeconds(),2));
	return format;
}
%>
