<%
data.forEach(function(item) {
	var is_free = (item.free == 'yes') ? true : false;
	var is_rental = (item['rental-yn'] == 'yes') ? true : false;
	var is_serial = (item['is-serial'] == 'yes') ? true : false;
	var is_purchased= (item['purchased-type']) ? true : false;
	var discount_rate = item['discount-rate'] || false;
	var adult_only = (item['adult-only'] == 'yes') ? true : false;
%>
	<div id="<%=item.id%>" class="media col-xs-12 col-sm-4 item product" data-volume="<%=(item.volume) ? item.volume : 0 %>">
		<div class="media-left">
			<div class="cover-wrap">
				<img class="media-object cover" src="/images/common/default_cover.jpg" data-item="<%=item.id%>">
				<% if (is_free == 'yes') { %>
				<span class="image-free-tag">무료</span>
				<% } else if (discount_rate) { %>
				<span class="image-discount-tag"><%=discount_rate%></span>
				<% } else if (is_rental) { %>
				<span class="image-rental-tag">대여</span>
				<% } %>

				<% if (adult_only) { %>
				<span class="image-adult-tag"><img src="/images/common/adult_mark.svg"></span>
				<% } %>
			</div>
		</div>

		<div class="media-body">
			<h4 class="media-heading checkbox">
				<label>
					<% if (!is_purchased) { %>
					<input type="checkbox" class="item-id" value="<%=item.id%>">
					<% } %>
					<%=item['short-title']%>
				</label>
			</h4>

			<div class="published"><%=(item['published-at']) ? item['published-at'].replace(/\-/g,'.').substr(2) : ''%></div>

			<div class="form-group purchase-box">
				<% if (!is_free && !is_serial && !is_purchased) { %>
				<button type="button" class="btn btn-default preview" data-item="<%=item.id%>">
					미리보기
				</button><br/>
				<% } %>
				<button type="button" class="btn <%=(is_purchased) ? 'btn-default open' : (is_free) ? 'btn-free purchase' : 'btn-purchase purchase'%>"
					<% if (user) { %>
					onclick="Store.openCart('single', ['<%=item.id%>']);"
					<% } else { %>
					onclick="requiredLogin();"
					<% } %>
					data-item="<%=item.id%>"
					data-title="<%=item.title%>"
					data-free="<%=item.free || ''%>"
					data-event="<%=item['event-yn'] || ''%>"
					data-permanent="<%=(item['permanent-product'])?item['permanent-product']:''%>"
					data-rental="<%=(item['rental-product'])?item['rental-product']:''%>"
					data-allrental="<%=(item['all-rental-product'])?item['all-rental-product']:''%>"
					data-purchased="<%=item['purchased-type'] || ''%>"
					data-expired="<%=item['rental-expired-at'] || ''%>"
				>
					<%=(is_purchased) ? '보기' : (is_free) ? '무료' : '구매'%>
				</button>
			</div>
		</div>
	</div>
<%
});
%>
