
	<div class="row">

		<% items.forEach(function(item) { %>
		<div class="series cell cell-a">
			<div class="cover-wrap">
				<img src="/images/common/default_cover.jpg" class="cover" data-item="<%=item.attr.item%>" alt="<%=item.title%>">
			</div>
			<div class="cell-title"><%=item.title%></div>
		</div>
		<% }); %>

	</div>
