<%
data.forEach(function(item) {
	var is_free = (item['pricing-group'] == 'free') ? true : false;
	var is_rental = (item['rental-yn'] == 'yes') ? true : false;
	var is_serial = (item['is-serial'] == 'yes') ? true : false;
	var is_purchased= (item['purchased-type']) ? true : false;
	var discount_rate = item['discount-rate'] || false;
	//var adult_only = (item['adult-only'] == 'yes') ? true : false;
	var coin_only = (item['pricing-group'] == 'coin') ? true : false;
	var base_point = (coin_only || is_free) ? '\'O_0000_000000009\'' : 'FREE_POINT';
%>
	<div id="<%=item.item%>" class="media col-xs-12 col-sm-6 col-md-4 item product">
		<div class="media-left">
			<div class="cover-wrap">
				<img class="media-object cover" src="/images/common/default_cover.jpg" data-item="<%=item.item%>">
				<% if (is_free) { %>
				<span class="image-free-tag">무료</span>
				<% } %>
			</div>
		</div>

		<div class="media-body">
			<h4 class="media-heading">
				<%=item['short-title'] || ''%>
				<br/><small><%=item['title'] || ''%></small>
			</h4>

			<div class="form-group purchase-box">
				<button type="button" class="btn <%=(is_purchased) ? 'btn-default open' : (is_free) ? 'btn-free purchase' : 'btn-purchase purchase'%>"
					<% if (user) { %>
					onclick="Store.openEveryday('<%=item.item%>', <%=base_point%>);"
					<% } else { %>
					onclick="requiredLogin();"
					<% } %>
					data-item="<%=item.item%>"
					data-title="<%=item.title%>"
					data-free="<%=(is_free) ? 'yes' : ''%>"
					data-event="<%=item['event-yn'] || ''%>"
					data-rental="<%=(item['rental-product'])?item['rental-product']:''%>"
					data-purchased="<%=item['purchased-type'] || ''%>"
					data-expired="<%=item['rental-expired-at'] || ''%>"
					>
					<%=(is_purchased) ? '보기' : (is_free) ? '무료' : (coin_only) ? '구매' : '보기'%>
				</button>
			</div>
		</div>
	</div>
<%
});
%>
