<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div id="everyday-image" class="row">
			<img src="" data-name="" class="banner" width="100%">
		</div>
	</div>

	<div class="container">
		<div class="row items-top">
			<div class="col-xs-4">
				전체 (<span class="items-count">0</span>)
			</div>
			<div class="col-xs-8 text-right">
				<label class="radio-inline">
					<input type="radio" name="sort-items" onclick="changeSort('oldest');" value="oldest" checked> 출간순
				</label>
				<label class="radio-inline">
					<input type="radio" name="sort-items" onclick="changeSort('latest');" value="latest"> 최신순
				</label>
			</div>
		</div>

		<div class="row everyday-guide">
			<div class="col-xs-12">
				<h4 class="default-color">
					매일 연재 안내
					<span id="free-point-stat"></span>
				</h4>
				<p>「매일 연재」는 매일 인기만화 1화씩 선택해 무료로 보실 수 있습니다.</p>
				<ul>
					<li>발급된 무료이용권 사용후 1일(24시간)를 기다리시면 다시 무료이용권 1개를 드립니다.</li>
					<li>최신 30화는 무료이용권으로 볼 수 없습니다.</li>
					<li>무료이용권으로는 1일(24시간) 동안 열람이 가능합니다.</li>
					<li>무료 콘텐츠는 무료이용권과 상관없이 열람이 가능합니다.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container" style="background-color:#fff;">
		<div id="series-items" class="row" style="margin-top:0;"></div>

		<div class="form-group" style="margin:20px 0;">
			<button type="button" class="btn btn-default btn-block btn-lg" id="load-more">더 보기</button>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>
<% include ../partials/modals/modal-purchase %>

<script type="text/javascript">
var FREE_POINT = '', REFILL_AT = 0, REFILL_CHECKER_INST, MORE_LOC = 0, MORE_NUM = 60;
var ITEM_IDS = [], ITEM_BASE = {}, PRODUCTS = [];
var expiredTimerInst;

$(function(){
	$('#load-more').click(function(e){
		e.preventDefault();
		Catalogs.showcase('everyday', {'series':["<%=series_id%>"]}, setSeriesInfo);
	});

	Catalogs.showcase('everyday', {'series':["<%=series_id%>"]}, setSeriesInfo);
});

function setSeriesInfo(res) {
	var series = res.showcases[0].attr;
	FREE_POINT = series.points;

	if (Users.local.isLogin()) {
		Users.cloud.getPointStat(FREE_POINT, function(res){
//console.log(res);
			var points = res.points[0].points_info;
			if (points.refill_at && !points.total_amount) {
				REFILL_AT = points.refill_at;
				REFILL_CHECKER_INST = setInterval(displayRemainSecs, 60000);
				displayRemainSecs();
			}
			if (points.total_amount > 0)
				$('#free-point-stat').html('<span class="text-success"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i> 무료이용권 사용 가능</span>');
		});
	} else {
		$('#free-point-stat').html('<span><i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> 로그인이 필요합니다</span>');
	}

	$('#everyday-image .banner').attr('data-name', series['detail-image']);
	Catalogs.loadImages($('#everyday-image img'));

	var sort_items = $('input[name=sort-items]:checked').val();
	if (sort_items == 'oldest') sort_items = 'ASC';
	else sort_items = 'DESC';

	/* load total items count */
	Catalogs.showcase('books', {"series":["<%=series_id%>"]}, setItemCount);

	/* load items */
	Catalogs.showcase('books', {"series":["<%=series_id%>"], "sort":"id,"+sort_items, "offset":MORE_LOC, "length":MORE_NUM }, getSeriesMeta);
}

function displayRemainSecs() {
	var ONE_MINUTE = 60,
		ONE_HOUR = ONE_MINUTE * 60,
		ONE_DAY = ONE_HOUR * 24;

	var now_ts = parseInt(Date.now() / 1000);
	var remain_secs = parseInt(REFILL_AT - now_ts);

	if (remain_secs < 0) {
		$('#free-point-stat').html('무료이용권 사용 가능');
		clearInterval(REFILL_CHECKER_INST);
		return;
	}

	var remain_times = '';
	if (remain_secs >  ONE_DAY)    remain_times = Math.ceil(remain_secs / ONE_DAY) + '일';
	if (remain_secs <= ONE_DAY)    remain_times = Math.ceil(remain_secs / ONE_HOUR - 1) + '시간';
	if (remain_secs <= ONE_HOUR)   remain_times = Math.ceil(remain_secs / ONE_MINUTE - 1) + '분';
	if (remain_secs <= ONE_MINUTE) remain_times = remain_secs + '초';
	$('#free-point-stat').html('<i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> 충전 ' + remain_times + ' 남았습니다.');
}

function setItemCount(res) {
	$('.items-count').text(res.showcases.length);
}


function getSeriesMeta(res) {
	var series = res.showcases, item_ids = [];
	series.forEach(function(s){ ITEM_IDS.push(s.item); PRODUCTS[s.item] = s.attr; });

	MORE_LOC += series.length;
	if (series.length < MORE_NUM) $('#load-more').remove();

	Catalogs.itemsMeta(ITEM_IDS, function(res){
		ITEM_BASE = res.items;
		Catalogs.serialMeta(ITEM_IDS, setItems);
	});
}

function setItems(res) {
	var items = res.items, itms=[];

	for (key in items) {
		ITEM_BASE[key] = mergeObjects(ITEM_BASE[key], items[key]);
		ITEM_BASE[key] = mergeObjects(PRODUCTS[key], ITEM_BASE[key]);
		itms.push(ITEM_BASE[key]);
	}

//console.log(itms);
	Users.cloud.haveItems(function(res){
		var HAVE_ITEMS = {}, HAVE_ITEM_IDS = [];

		res.items.forEach(function(item){
			HAVE_ITEMS[item.item_id] = item;
			HAVE_ITEM_IDS.push(item.item_id);
		});

		itms.forEach(function(item){
			if (HAVE_ITEM_IDS.indexOf(item.item) > -1) {
				if (HAVE_ITEMS[item.item].expired_at) {
					item['purchased-type'] = 'rental';
					item['rental-expired-at'] = HAVE_ITEMS[item.item].expired_at;
				}  else {
					item['purchased-type'] = 'permanent';
				}
			}
		});

		Catalogs.renderIn($('#series-items'), '/r/item/list-s', {'data': itms}, function() {
			var orderby = $('input[name=sort-items]:checked').val();
			sortItemList(orderby);

			checkRentalTimer();
			if ($('button.open[data-expired]').length > 0) expiredTimerInst = setInterval(checkRentalTimer, 60000);
			$('button.open').click(function(e){ goUrl('/comic/'+$(this).attr('data-item')); });
		});
	});
}

function changeSort(order_by) {
	MORE_LOC = 0;
	ITEM_IDS = [];
	$('#series-items').empty();
	$('#load-more').show();
	Catalogs.showcase('everyday', {'series':["<%=series_id%>"]}, setSeriesInfo);
}

</script>
</body>

</html>
