<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="row main-banner push-up">
			<img src="" data-name="B_SERIES_001.jpg" width="100%">
		</div>
		<div class="row" id="everyday-wrap"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
$(function(){
	Catalogs.loadImages($('.main-banner img'));
	Catalogs.showcase('everyday', {}, loadEverydays);
});

function loadEverydays(res) {
	var everydays = res.showcases;
	Catalogs.renderIn($('#everyday-wrap'), '/r/everyday/list-a', {'data': everydays});
}
</script>
</body>
</html>
