<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">

		<div class="user-heading">
			<h3 class="default-color">
				<img src="/images/common/sidebar_icon_bookshelf.svg"> 보관함
			</h3>
			<hr/>
		</div>

		<div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active col-xs-6 text-center">
					<a href="#bookshelf" aria-controls="bookshelf" role="tab" data-toggle="tab">
						<i class="fa fa-book" aria-hidden="true"></i>
						내 책장
					</a>
				</li>
				<li role="presentation" class="col-xs-6 text-center">
					<a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">
						<i class="fa fa-heart" aria-hidden="true"></i>
						즐겨찾기
					</a>
				</li>
			</ul>
		</div>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="bookshelf">
				<div class="top-margin"></div>
				<div class="col-xs-12">
					<div id="user-bookshelf" class=""></div>
					<div class="no-series" style="display:none;">
						<h4 class="text-center" style="padding:40px 0;color:#ccc;">작품이 없습니다</h4>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="favorites">
				<div class="top-margin"></div>
				<div class="col-xs-12">
					<div id="user-favorites" class=""></div>
					<div class="no-series" style="display:none;">
						<h4 class="text-center" style="padding:40px 0;color:#ccc;">작품이 없습니다</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>
<% include ../partials/modals/modal-bookshelf %>

<script>
$(function(){
	$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
		if ($(e.target).attr('href') == '#favorites')
			if (FavoriteSeriesIds.length == 0)
				Users.getFavorites('all', collectFavoriteIds);
	});

	Users.cloud.haveItems(collectItemIds);
})

var haveItemIds=[], haveSeriesIds=[], seriesItems={}, FavoriteSeries={}, FavoriteSeriesIds=[];

/* my bookshelf */

function collectItemIds(res) {
	var items = res.items;
	items.forEach(function(item){ haveItemIds.push(item.item_id); });
	Catalogs.itemsMeta(haveItemIds, setSeriesIds);
}

function setSeriesIds(res) {
	var items = res.items;
	for (key in items) {
		var series = items[key].series;
		series.forEach(function(s) {
			if (!seriesItems[s]) seriesItems[s] = { 'items': [] };
			seriesItems[s].items.push(key);
			haveSeriesIds.push(s);
		});
	}
	Catalogs.seriesMetaData(haveSeriesIds, renderBookshelf);
}

function renderBookshelf(res) {
//console.log(seriesItems);
	var series = [];
	for (var key in res) {
		res[key]['id'] = key;
		res[key]['series'] = key;
		res[key]['first-item']  = seriesItems[key].items.sort(function(a,b){ return (a > b) ? -1 : 1; })[0];
		res[key]['items-count'] = seriesItems[key].items.length || 0;
		series.push(res[key]);
	}
	Catalogs.renderIn($("#user-bookshelf"), '/r/series/list-m', {'data': series}, function(html){
		if (series.length < 1) $('#bookshelf .no-series').show();
	});
}

/* favorites */

function collectFavoriteIds(res) {
	for(key in res) {
		FavoriteSeriesIds.push(key);
	}
	Catalogs.showcase('series', {'series': FavoriteSeriesIds}, function(res){
		var series = res.showcases;
		series.forEach(function(s){ FavoriteSeries[s.series] = s.attr; });
		Catalogs.seriesMeta(FavoriteSeriesIds, getFavoritesMeta);
	});
}

function getFavoritesMeta(res) {
	var series = [];
	for(key in res.series) {
		if (FavoriteSeries[key] && res.series[key]) {
			FavoriteSeries[key] = mergeObjects(FavoriteSeries[key], res.series[key]);
			series.push(FavoriteSeries[key]);
		}
	}
	Catalogs.renderIn($('#user-favorites'), '/r/series/list-b', {'data': series}, function(html) {
		if (series.length < 1) $('#favorites .no-series').show();
	});
}
</script>
</body>
</html>
