<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">

		<div class="user-heading">
			<h3 class="default-color">
				<img src="/images/common/sidebar_icon_coin.svg"> 코인 충전
			</h3>
			<hr>
		</div>

		<div class="col-xs-12" id="my-coin-amount-wrap">
			<div class="col-xs-4 default-bg-color text-center">내 코인</div>
			<div class="col-xs-8 text-right">
				<span id="my-coin-amount"></span>
				코인 보유 중
			</div>
		</div>

		<form id="charge-form" class="col-xs-12 col-sm-4">
			<h4 class="default-color">충전 상품</h4>
			<hr/>

			<p class="help-block">* 카드사 정책에 따라 신용카드 결제시 최대 5만원까지만 결제 가능합니다.</p>

			<ul class="list-group">
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125939" data-price="3000" title="300코인">
							300코인
						</label>
						<span class="pull-right">3,000원</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125940"  data-price="10000" title="1,000코인 + 50코인" checked=1>
							1,000코인 + 50코인
						</label>
						<span class="pull-right">10,000원</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125941" data-price="30000" title="3,000코인 + 200코인">
							3,000코인 + 200코인
						</label>
						<span class="pull-right">30,000원</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125942" data-price="50000" title="5,000코인 + 400코인">
							5,000코인 + 400코인
						</label>
						<span class="pull-right">50,000원</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125943" data-price="70000" title="7,000코인 + 600코인">
							7,000코인 + 600코인*
						</label>
						<span class="pull-right">70,000원</span>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="product_id" value="P_0000_000125944"  data-price="100000" title="10,000코인 + 1,000코인">
							10,000코인 + 1,000코인*
						</label>
						<span class="pull-right">100,000원</span>
					</div>
				</li>
			</ul>


			<h4 class="default-color">결제 수단</h4>
			<hr>

			<ul class="list-group payment-method">
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="charge_method" value="mobile"> 휴대폰
						</label>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="charge_method" value="card"> 신용카드
						</label>
					</div>
				</li>
				<li class="list-group-item">
					<div class="radio">
						<label>
							<input type="radio" name="charge_method" value="culture"> 문화상품권
						</label>
					</div>
				</li>
			</ul>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">충전하기</button>
			</div>

			<hr style="border-style:dashed">

			<div class="form-group">
				<h4>코인 환불 정책안내</h4>
				<ul style="margin-left:18px;padding-left:0;">
					<li>만날 코인으로 컨텐츠를 구매 후, 도서를 열람한 경우 결제 취소 및 환불이 불가능합니다.</li>
					<li>단, 컨텐츠 오류로 인한 결제취소 및 환불 요청시, 컨텐츠 구매 후 7일 이내에 요청이 접수된 건에 대해 처리 가능합니다.</li>
					<li>코인 충전 후 일부를 사용한 경우, 증정코인을 제외한 남은 코인에 대한 환불은 환불신청이 접수된 익월의 15일 이내에 사용자의 환불 가능 계좌로 입금됩니다.</li>
					<li>무료로 제공된 증정코인은 환불 대상이 되지 않습니다.</li>
					<li>한불 시 결제 금액의 10%가 수수료로 공제됩니다.</li>
					<li>코인 결제 시에 이벤트로 제공받은 코인은 해당 결제에 대한 환불이 발생한 경우 자동 소멸됩니다.</li>
					<li>만날 코인은 &lt;상법 제64조 상사채권 소멸시효&gt; 조항에 따라 코인 구매일로부터 5년 경과 시까지 이용 내역이 없을 경우 자동 소멸됩니다.</li>
				</ul>
			</div>
		</form>

		<div class="col-xs-12 col-sm-8" style="margin-bottom:20px;">
			<h4 class="default-color">코인 충전 기록</h4>
			<hr>

			<div>
				<ul class="list-group" id="log-charged">
					<li class="list-group-item" style="min-height:50px;"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>
<% include ../partials/modals/modal-charge %>

<script>
$(function(){
	$('#charge-form').submit(function(e){
		e.preventDefault();
		if ($('input[name=charge_method]:checked').length < 1) {
			mAlert('결제 수단을 선택해 주시기 바랍니다.', 'info');
			return false;
		}

		var method = $('input[name=charge_method]:checked').val();
		if (method == 'card') {
			var price = parseInt($('input[name=product_id]:checked').data('price'));
			if (price > 50000) {
				mAlert("신용카드의 경우 카드사 정책에 따라 최대 5만원까지만 결제 가능합니다.", 'info');
				return false;
			}
		}

		getChargeModal();
	});

	loadMyCoinAmount();
	loadLogCharged();
});

function getChargeModal() {
	$('#modal-charge').modal({ backdrop: false, keyboard: false }).focus();
	$('#payment-form').attr('src', "/charge/forward?"+$('#charge-form').serialize());
}

function loadMyCoinAmount() {
	Users.cloud.getPoints(function(resp){
		var point = Users.local.getPoint(resp.points, 'O_0000_000000009');
		if (point) {
			$('#my-coin-amount').text(withCommas(point.points_info.total_amount));
		} else {
			$('#my-coin-amount').text('0');
		}
	});
}

function loadLogCharged() {
	Users.logCharged("points_id=O_0000_000000009", function(res){
		$('#log-charged').empty();
		if (res.points.length > 0) {
			res.points.forEach(function(p){
				var out = '';
				var product_name = $('input[name=product_id][value="' + p.product_id + '"]').parent('label').text() || p.product_id;
				out += '<li class="list-group-item col-xs-12">';
				out += '  <div class="col-xs-6">' + getDateFormat(p.created_at, 'Y-m-d h:i:s') + '</div>';
				out += '  <div class="col-xs-6 text-right">' + withCommas(p.amount) + ' 코인 충전</div>';
				out += '</li>';
				$('#log-charged').append(out);
			});
		} else {
			$('#log-charged').append('<li class="list-group-item text-center" style="padding:40px 0;">충전 기록이 없습니다.</li>');
		}
	});
}
</script>
</body>
</html>
