<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6">

			<div class="user-heading">
				<h3 class="default-color">만날 쿠폰 등록</h3>
				<hr />
			</div>

			<form name="coupon-form" id="coupon-form" >
				<div class="form-group clearfix">
					<p class="text-danger">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
						현재 <strong style="color:#000;font-size:1.2em;"><%=user.name%></strong>로 로그인 중입니다.
						본인이 아니라면 <a href="/logout">로그아웃 <span class="glyphicon glyphicon-new-window"></span></a> 후 본인 계정으로 다시 로그인 하시고,
						쿠폰을 등록하시기 바랍니다.
					</p>
				</div>
				<div class="form-group">
					<input type="text" id="coupon-code" name="coupon_code" class="form-control input-lg" placeholder="쿠폰 코드" value="<%=code%>" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">등록</button>
				</div>
			</form>

		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	$('#coupon-form').submit(registerCoupon);
});

function registerCoupon(e) {
	e.preventDefault();

	var coupon_code = $('#coupon-code').val().replace('-','');
	coupon_code = $.trim(coupon_code.toUpperCase());

	if (coupon_code != '') {
		Users.cloud.registerCoupon(coupon_code, function(res){
			if (res.code == 412) {
				mAlert('잘못된 쿠폰 코드입니다. 다시 확인 후 입력해주시거나 고객센터에 문의해 주시기 바랍니다.', 'danger');
			}
			console.log('coupon', res);
		});
	} else {
		mAlert('쿠폰 코드를 입력해주세요.', 'danger');
		$('#couponc-code').focus();
	}
}
</script>
</body>
</html>
