<% include ../layouts/head %>

<body>
<script>
window.fbAsyncInit = function(){
FB.init({
	appId: '356145061418942',
	xfbml: true,
	version: 'v2.9'
});
FB.AppEvents.logPageView();
};

(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ko_KR/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6">

			<div class="user-heading">
				<h3 class="default-color">만날 로그인</h3>
				<hr />
			</div>

			<form name="login-form" id="login-form" >
				<input type="hidden" id="rurl" name="rurl" value="<%=encodeURIComponent(rurl) || '%2F'%>">
				<input type="hidden" id="channel" name="channel" value="bookjam">

				<div class="form-group">
					<input type="email" id="user-email" name="user_email" class="form-control input-lg" placeholder="이메일 주소" required>
				</div>
				<div class="form-group">
					<input type="password" id="user-passwd" name="user_passwd" class="form-control input-lg" placeholder="비밀번호" required>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label data-toggle="popover" data-content="* 보안을 위해 개인 디바이스에서만 사용해 주세요. 유지기간은 90일 입니다.">
							<input type="checkbox" id="remember_login" name="remember_login"> 로그인 유지
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">로그인</button>
				</div>
				<div class="form-group text-right" style="color:#ddd;">
					<a href="/register">회원가입</a> | <a href="/password">비밀번호 찾기</a>
				</div>

				<hr />

				<div class="form-group clearfix">
					<div class="checkbox">
						<label><input type="checkbox" name="contract_agreement[]" class="agreements">[필수] 만날 회원약관 동의</label>
						<a href="/docs/contract">[자세히 보기]</a>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="contract_agreement[]" class="agreements">[필수] 개인정보 수집 및 이용에 대한 안내 동의	</label>
						<a href="/docs/private">[자세히 보기]</a>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="checkbox">
						<label><input type="checkbox" id="all-agreement"> 전체동의</label>
					</div>
					<p class="help-block alert-danger">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
						팝업이 차단된 경우 외부 서비스 계정을 통한 로그인이 되지 않을 수 있습니다.
					</p>
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-lg btn-block btn-facebook" onclick="facebookLogin();">페이스북 아이디로 로그인</button>
				</div>
				<div class="form-group">
					<div id="naver_id_login"></div>
				</div>
			</form>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	$('#login-form').submit(defaultLogin);
	$('#all-agreement').click(function(e) {
		var checked = $(this).prop('checked');
		$('.agreements').prop('checked', checked);
	});
});

/* naver login popup - callback url 에서 처리 */

var naver_id_login = new naver_id_login("<%=config.auth.naver.clientId%>", "<%=config.auth.naver.callbackUrl%>");
var state = naver_id_login.getUniqState();
//naver_id_login.setButton("green", 3 ,40);
naver_id_login.setDomain("<%=config.auth.naver.serviceDomain%>");
naver_id_login.setState(state);
naver_id_login.setPopup();
naver_id_login.init_naver_id_login();

function naverLoginPopup() {
	if (checkLoginAgreements()) {
		window.open($('#naver_id_login_anchor').attr('href'), 'naverloginpop', 'titlebar=1, resizable=1, scrollbars=yes, width=600, height=550');
	}
	return;
}

/* facebook login */

function facebookLogin() {
	if (!checkLoginAgreements()) return;

	FB.getLoginStatus(function(res){
		if (res.status === 'connected') {
			//console.log(res);
			facebookLoginCallback(res);
		} else {
			FB.login(function(res){
				if (res.status === 'connected') {
					facebookLoginCallback(res);
				} else {
					mAlert('로그인 취소: '+ res.status, 'danger');
					return false;
				}
			}, {scope: 'email'});
		}
	});
}

function facebookLoginCallback(usr) {
	var userData = {
		"channel": "facebook",
		"external_id": usr.authResponse.userID,
		"access_token": usr.authResponse.accessToken
	}

	FB.api('/me', function(res) {
		userData.user_info = {
			"email": res.email || '',
			"name": res.name || ''
		}

		Users.cloud.login(userData, function(res){
			if (res.access_token) {
					Cookies.remove('access_token');
					Cookies.set('access_token', res.access_token, { expires: 90 });
					mAlert('로그인 중...','success',2000,function(){ goUrl('/'); });
					return true;
			} else {
				mAlert('로그인 오류: '+ res.code, 'danger');
				return false;
			}
		});
	});
}
</script>
</body>
</html>
