<% include ../layouts/head %>

<script type="text/javascript">
var naver_id_login = new naver_id_login("<%=config.auth.naver.clientId%>", "<%=config.auth.naver.callbackUrl%>");
//console.log(naver_id_login.oauthParams);
naver_id_login.get_naver_userprofile("naverSignInCallback()");

function naverSignInCallback() {
    var userData = {
        "channel": "naver",
        "external_id": naver_id_login.getProfileData('id'), // uid
        "access_token": naver_id_login.oauthParams.access_token,
        "user_info": {
            "name": naver_id_login.getProfileData('nickname'),
            "email": naver_id_login.getProfileData('email')
        }
    };

    if (!userData.external_id) {
      alert('사용자 아이디 정보를 찾을 수 없습니다.');
      return;
    }

    Users.cloud.login(userData, function(res){
        if (res.access_token) {
            Cookies.remove('access_token');
            Cookies.set('access_token', res.access_token, { expires: 90 }); // 90 days
            mAlert('로그인 중...','success',1000, function(){ opener.location.href="/"; self.close(); });
        } else {
            mAlert('로그인 오류:' + res.code,'danger',5000);
        }
    });
}
</script>

<!-- ajax load spinner -->
<div id="spinner-box">
	<img src="/images/common/rolling.svg">
</div>

</body>
</html>
