<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">

		<div class="col-xs-12 col-sm-offset-3 col-sm-6">
			<form name="password-form" id="password-form">
			<input type="hidden" id="channel" name="channel" value="bookjam">

				<div class="user-heading">
					<h3 class="default-color">새 비밀번호 지정</h3>
					<hr />
				</div>

				<p class="help-block">
				가입하신 이메일로 비밀번호 변경 안내 메일을 보내드립니다.
				</p>

				<div class="form-group">
					<input type="email" id="user-email" name="user_email" class="form-control input-lg" placeholder="가입 이메일" required>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">메일 받기</button>
				</div>
			</form>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	$('#password-form').submit(function(e){
		e.preventDefault();

		var userData = {
			"email": $('#user-email').val(),
			"channel": $('#channel').val()
		};

		Users.cloud.resetPassword(userData, function(res) {
			if (res.code == 404) {
				mAlert('등록되지 않은 이메일 주소입니다.', 'danger');
				return;
			}

			if (res.code != 200) {
				mAlert('비밀번호 변경 진행 중 오류가 발생했습니다.' + res.code, 'danger');
				return;
			}

			mAlert("비밀번호 변경을 위한 안내 메일이 발송되었습니다. 메일을 받지 못하신 경우 스팸함에 메일이 있지 않은지 확인해주시기 바랍니다.", 'success', 4000);
			setTimeout(function(){ goUrl('/'); }, 4000);
			return;
		});
	});
})
</script>
</body>
</html>
