<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container" style="margin-bottom:10px;">
		<div class="user-heading">
			<h3 class="default-color">
				<img src="/images/common/sidebar_icon_list.svg"> 구매내역
			</h3>
			<hr/>
		</div>

		<div class="col-xs-12" style="border-bottom:1px solid #ddd;margin-bottom:20px;">
			<div class="col-xs-4"></div>
			<div class="col-xs-8 text-right checkbox">
				<label>
					<input type="checkbox" id="expired-receipt" onclick="displayExpiredReceipts(this);"> 만료 영수증 보기
				</label>
			</div>
		</div>

		<div id="user-receipts"></div>
	</div>

	<div class="push"></div>
	<div class="no-receipts" style="display:none;">
		<h4 class="text-center" style="padding:40px 0;color:#ccc;">구매기록이 없습니다</h4>
	</div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	Users.getReceipts(_renderUserReceipts);
})

function _renderUserReceipts(res) {
	var receipts = res.receipts;
	receipts = receipts.sort(function(a,b) { return (a.purchase_info.created_at < b.purchase_info.created_at) ? 1 : -1; });
	Catalogs.renderIn($('#user-receipts'), '/r/item/list-r', {'data': receipts}, function(){
		 $('.expired').hide();
		 if (receipts.length < 1) $('.no-receipts').show();
	 });
}

function displayExpiredReceipts(el) {
	var display = $(el).prop('checked');
	if (display) $('.expired').show();
	else $('.expired').hide();
	$('#user-receipts .cover').lazyload({ effect: 'fadeIn' });
}
</script>
</body>
</html>
