<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6">

			<div class="user-heading">
				<h3 class="default-color">만날 회원가입</h3>
				<hr />
			</div>

			<form name="register-form" id="register-form">
			<input type="hidden" id="channel" name="channel" value="bookjam">

				<p class="help-block text-justify">
				만날 회원으로 가입하시면 코인 충전을 통해 유료작품을 구매하실 수 있습니다.
				최근 본 작품, 즐겨찾기, 보관함이 클라우드 서비스를 통해 다른 기기와 연동되어 더편하게 이용하실 수 있습니다.
				</p>

				<div class="form-group">
					<input type="email" id="user-email" name="user_email" class="form-control input-lg" placeholder="수신 가능한 이메일 주소" required>
				</div>
				<div class="form-group">
					<input type="password" id="user-passwd" name="user_pw" class="form-control input-lg" placeholder="비밀번호(8자리 이상)" required>
				</div>
				<div class="form-group">
					<input type="password" id="confirm-passwd" name="confirm_pw" class="form-control input-lg" placeholder="비밀번호 확인" required>
				</div>
				<div class="form-group">
					<input type="input" id="user-name" name="user_name" class="form-control input-lg" placeholder="사용자명(두 글자 이상)" required>
				</div>

				<hr style="border-style:dashed;"/>

				<div class="form-group clearfix">
					<div class="checkbox">
						<label><input type="checkbox" name="contract_agreement[]" class="agreements">[필수] 만날 회원약관 동의</label>
						<a href="/docs/contract">[자세히 보기]</a>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="contract_agreement[]" class="agreements">[필수] 개인정보 수집 및 이용에 대한 안내 동의	</label>
						<a href="/docs/private">[자세히 보기]</a>
					</div>
				</div>
				
				<div class="form-group clearfix">
					<div class="checkbox">
						<label><input type="checkbox" id="all-agreement"> 전체동의</label>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">가입</button>
				</div>
			</form>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){

	$('#all-agreement').click(function(e) {
		var checked = $(this).prop('checked');
		$('.agreements').prop('checked', checked);
	});

	$('#register-form').submit(function(e){
		e.preventDefault();

		if ($('#user-email').val().length < 2) {
			mAlert('아이디로 사용할 수신가능 이메일 주소를 입력해주세요', 'danger');
			$('#user-email').focus(); return;
		}
		if ($('#user-passwd').val().length < 8) {
			mAlert('비밀번호는 최소 8자리 이상 입력해주세요.', 'danger');
			$('#user-passwd').focus(); return;
		}
		if ($('#user-passwd').val() != $('#confirm-passwd').val()) {
			mAlert('비밀번호 확인이 일치하지 않습니다. 확인해 주세요.', 'danger');
			$('#confirm-passwd').focus(); return;
		}
		if ($('#user-name').val().length < 2) {
			mAlert('사용자 명은 2자 이상입니다.', 'danger');
			$('#user-name').focus(); return;
		}
		if ($('.agreements:checked').length < 2) {
			mAlert('필수 약관 및 안내에 대한 동의 없이 가입하실 수 없습니다.', 'danger');
			return;
		}

		var userData = {
			'name': $('#user-name').val(),
			'channel': $('#channel').val(),
			'email': $('#user-email').val(),
			'password': $('#user-passwd').val()
		}

		Users.cloud.register(userData, function(res) {
			if (res.code == 409) {
				mAlert('이미 가입되어 있는 이메일 주소입니다.', 'danger');
				return;
			}

			if (res.code != 200) {
				mAlert('가입 처리 중 오류가 발생했습니다.' + res.code, 'danger');
				return;
			}

			mAlert('가입 처리가 완료 되었습니다. 등록하신 이메일 주소로 수신된 확인 메일을 통해 계정을 활성화 시키시면 가입이 완료됩니다.', 'success', 4000);
			setTimeout(function(){ goUrl('/'); }, 4000);
			return;
		});
	});

})
</script>
</body>
</html>
