<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">

		<div class="user-heading">
			<h3 class="default-color">
				<img src="/images/common/sidebar_icon_help.svg"> 고객지원
			</h3>
			<hr/>
		</div>

		<div class="col-xs-12 col-sm-8">
			<h4 class="default-color">자주 묻는 질문</h4>
			<hr>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<h5>
					<img src="/images/common/mannal_balloon.svg" style="display:inline-block;width:30px;">
					이용안내
				</h5>

				<!-- question 001 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-001">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-001" aria-expanded="true" aria-controls="answer-001">
								구매한 도서를 보려면 어디서 봐야할까요?
							</a>
						</h5>
					</div>
					<div id="answer-001" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="question-001">
						<div class="panel-body">
							보관함 &gt; 내책장<br/>
							구매해 둔 도서는 자동으로 로그인한 계정에 등록됩니다.
							이후 다른 기기에서 계정 로그인을 하면 도서를 확인할 수 있습니다.
							또한 현재 사용 중인 기기가 아닌 다른 기기에서 도서를 구매한 경우에도
							해당 기기에서 동일한 계정으로 로그인하면 자동으로 구매한 도서를 확인할 수 있습니다.
						</div>
					</div>
				</div>

				<!-- question 002 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-002">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-002" aria-expanded="false" aria-controls="answer-002">
								구매한 도서가 책장에 없어요.
							</a>
						</h5>
					</div>
					<div id="answer-002" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-002">
						<div class="panel-body">
							'계정'로그인 &gt; 보관함 &gt; 구매도서<br/>
							계정 로그인 전일 경우에 책장에 도서가 보이지 않습니다.
							구매한 도서는 로그인시 자동으로 책장에 등록되는데,
							고객님의 사용 환경에 따라 자동으로 등록되지 않는 경우가 있습니다.
							이런 경우 &quot;구매도서&quot; 에서 구매한 도서를 다시 다운받으시면 책장에서 바로 확인하실 수 있습니다.
						</div>
					</div>
				</div>

				<!-- question 003 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-003">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-003" aria-expanded="false" aria-controls="answer-003">
								책장에서 도서를 삭제하고 싶어요.
							</a>
						</h5>
					</div>
					<div id="answer-003" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-003">
						<div class="panel-body">
							'계정'로그인 &gt; 보관함 &gt; 내 책장<br/>
							내 책장 우측 하단에 있는 관리에 들어가셔서 구매한 도서의 커버와 데이터는 삭제가 가능합니다.
							그러나 실질적으로 만날 클라우드에 등록된 도서는 삭제되지 않습니다.
						</div>
					</div>
				</div>

				<!-- question 004 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-004">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-004" aria-expanded="false" aria-controls="answer-004">
								구매,대여 기간 및 제한은?
							</a>
						</h5>
					</div>
					<div id="answer-004" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-004">
						<div class="panel-body">
							코인으로 구매하신 만화는 영구 소장도 가능하시며, 대여하신 만화는 기본 2일간 대여됩니다.<br/>
							단, 단행본 만화는 대여기간이 변동될 수 있음을 안내드립니다. <br/>
							추가로 계정당 최대 5대의 모바일 기기를 동시에 사용하실수 있습니다.
							등록된 기기는 5대 초과시 알림창을 통해 기기를 관리하실 수 있습니다.
						</div>
					</div>
				</div>

				<h5>
					<img src="/images/common/mannal_balloon.svg" style="display:inline-block;width:30px;">
					회원정보
				</h5>

				<!-- question 005 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-005">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-005" aria-expanded="false" aria-controls="answer-005">
								하나의 계정으로 여러 기기에서 사용할 수 있나요.
							</a>
						</h5>
					</div>
					<div id="answer-005" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-005">
						<div class="panel-body">
							만날 클라우드는 하나의 계정당 최대 5대의 기기에서 이용하실 수 있습니다.<br/>
							기기관리가 필요한 경우, 만날 홈페이지 클라우드 메뉴에서 관리하실 수 있습니다.
						</div>
					</div>
				</div>

				<!-- question 006 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-006">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-006" aria-expanded="false" aria-controls="answer-006">
								이메일 계정과 페이스북/네이버 계정을 모두 만들었어요.
							</a>
						</h5>
					</div>
					<div id="answer-006" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-006">
						<div class="panel-body">
							<ol>
								<li>
									이메일 계정과 페이스북 계정, 네이버 계정의 이메일이 동일한 경우<br/>
									- 하나의 계정으로 통합되어 로그인 됩니다.
								</li>
								<li>
									이메일 계정과 페이스북 계정, 네이버 계정의 이메일이 다른 경우<br/>
									- 2 또는 3개의 계정이 별도의 계정으로 로그인됩니다.
								</li>
							</ol>
							2의 경우, 하나의 계정으로 통합요청을 하실 수 있습니다.
							각각의 계정으로 로그인 후 '문의하기' 를 통해 통합 요청 메일을 보내주세요.
							번거롭지만 소유 계정을 확인하기 위한 방법입니다.
						</div>
					</div>
				</div>

				<!-- question 007 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-007">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-007" aria-expanded="false" aria-controls="answer-007">
								이메일이 기억나지 않아요.
							</a>
						</h5>
					</div>
					<div id="answer-007" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-007">
						<div class="panel-body">
							죄송하게도 지원해드릴 방법이 없습니다.
							'만날'에서는 이메일 이외의 개인정보를 저장하지 않기 때문에 이용자 식별을 위한 고유값인 이메일 정보는 수정이나 안내가 불가합니다.
						</div>
					</div>
				</div>

				<!-- question 008 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-008">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-008" aria-expanded="false" aria-controls="answer-008">
								이메일을 변경하고 싶어요.
							</a>
						</h5>
					</div>
					<div id="answer-008" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-008">
						<div class="panel-body">
							고객님께서 이메일 계정을 임의로 변경하실 수는 없습니다.
							만약 현재 사용하고 있는 이메일을 변경해야만 한다면 로그인 후 '문의하기'를 통해 변경할 이메일 계정을 적어서 보내주세요.
						</div>
					</div>
				</div>

				<!-- question 009 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-009">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-009" aria-expanded="false" aria-controls="answer-009">
								비밀번호를 잊어버렸어요.
							</a>
						</h5>
					</div>
					<div id="answer-009" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-009">
						<div class="panel-body">
							'계정'로그인 &gt; 만날 계정으로 로그인 &gt; 비밀번호 재설정<br/>
							가입한 이메일로 비밀번호 변경 안내 메일을 바로 보내드립니다. 메일을 통해 비밀번호를 재설정하실 수 있습니다.<br/>
							페이스북 계정 등록시에는 페이스북 홈페이지(m.facebook.com)에서 확인해 주시길 바랍니다.<br/>
							네이버 계정 등록시에는 네이버 홈페이지(m.naver.com)에서 확인하실 수 있습니다.
						</div>
					</div>
				</div>

				<!-- question 010 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-010">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-010" aria-expanded="false" aria-controls="answer-010">
								탈퇴하고 싶어요.
							</a>
						</h5>
					</div>
					<div id="answer-010" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-010">
						<div class="panel-body">
							만날 계정으로 로그인하여 사용 중이시면, 별도의 탈퇴 과정 없이 만날 로그아웃 후 어플리케이션(APP)을 삭제하시면 됩니다. <br/>
							혹 만날 웹 회원탈퇴를 희망하시면 홈페이지(m.mannal.com)에서 진행 가능합니다.
						</div>
					</div>
				</div>

				<h5>
					<img src="/images/common/mannal_balloon.svg" style="display:inline-block;width:30px;">
					결제와 환불
				</h5>

				<!-- question 011 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-011">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-011" aria-expanded="false" aria-controls="answer-011">
								구매한 코인을 환불받고 싶어요.
							</a>
						</h5>
					</div>
					<div id="answer-011" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-011">
						<div class="panel-body">
							[코인 충전 시 환불 안내]
							<ul>
								<li>만날 코인으로 컨텐츠를 구매 후, 도서를 열람한 경우 결제취소 및 환불이 불가능합니다.</li>
								<li>단, 컨텐츠 오류로 인한 결제취소 및 환불 요청시, 컨텐츠 구매 후 7일 이내에 요청이 접수된 건에 대해 처리가 가능합니다.</li>
								<li>코인 충전 후 일부를 사용한 경우, 남은 코인에 대한 환불은 환불신청이 접수된 익월의 15일 이내에 사용자의 환불 가능 계좌로 입금됩니다.</li>
								<li>무료로 제공된 코인은 환불 대상이 되지않습니다.</li>
								<li>코인 결제 시에 이벤트로 제공받은 코인은 해당 결제에 대한 환불이 발생할 경우 자동 소멸됩니다.</li>
								<li>환불시 결제 금액의 10%가 수수료로 공제됩니다.</li>
								<li>만날 코인은 &lt;상법 제64조 상시채권 소멸시효&gt;조항에 따라 코인 구매일로부터 5년 경과 시까지 이용 내역이 없을 경우 자동 소멸됩니다.</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- question 012 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-012">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-012" aria-expanded="false" aria-controls="answer-012">
								코인 충전 중에 오류가 발생했다면?
							</a>
						</h5>
					</div>
					<div id="answer-012" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-012">
						<div class="panel-body">
							현재 사용중인 '만날'의 가장 최신버전인지 확인 부탁드립니다.<br/>
							최신버전으로 업데이트 된 이후에도 충전이 안 되신다면 [문의하기]에 오류 정보를 남겨주시면 빠른 회신드리도록 하겠습니다.
						</div>
					</div>
				</div>

				<!-- question 013 -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="question-013">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#answer-013" aria-expanded="false" aria-controls="answer-013">
								폰에서 구매한 도서가 태블릿에서 보이지 않습니다.
							</a>
						</h5>
					</div>
					<div id="answer-013" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-013">
						<div class="panel-body">
							'계정'로그인 &gt; 보관함 &gt; 구매 도서 복원<br/>
							사용하려는 기기에 로그인 해주세요.
							클라우드 서비스를 통해 폰에서 구매한 책을 태블릿에서도 동시에 이용하실 수 있습니다.
							구매한 스토어(iOS / Android) 외 다른 디바이스에서도 구매한 책을 이용할 수 있습니다.
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<h4 class="default-color">문의하기</h4>
			<hr>
			<form id="support-form" name="support-form">
				<div class="form-group">
					<input type="email" id="req-email" name="email" class="form-control input-lg" placeholder="이메일 주소(필수)" required value="<%=(user) ? user.email : ''%>">
				</div>
				<div class="form-group">
					<input type="input" id="req-phone" name="phone" class="form-control input-lg" placeholder="전화번호*">
					<span class="help-block text-justify">
						* 전화번호를 남겨주시면 더 편리하게 안내받으실 수 있습니다.
						기재하신 연락처는 고객 지원 용도로만 사용됩니다.
					</span>
				</div>
				<div class="form-group">
					<label>문의내용</label>
					<textarea class="form-control" id="req-memo" name="memo" rows=10 required no-resize></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block">문의하기</button>
				</div>
			</form>
			<hr>
			<h4 class="default-color">고객센터</h4>
			<hr>
			<dl>
				<dt><i class="fa fa-phone" aria-hidden="true"></i> TEL.</dt>
				<dd>1544-9101 (발신자 부담전화)</dd>
				<dt><i class="fa fa-clock-o" aria-hidden="true"></i> 상담시간</dt>
				<dd>평일 오전 9시 ~ 오후 6시 (토,일요일/공유일 휴무)</dd>
			</dl>
			<% if (user) { %>
			<hr>
			<h4 class="default-color">회원탈퇴</h4>
			<hr>
			<form id="withdraw-form" name="withdraw-form">
				<input type="hidden" name="channel" value="bookjam">
				<div class="form-group">
					<button type="button" class="btn btn-warning btn-lg btn-block" onclick="confirmSecession();return false;">탈퇴신청</button>
				</div>
			</form>
			<% } %>
		</div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	$('#support-form').submit(function(e){
		e.preventDefault();
		var cs_data = {
			"email": $('#req-email').val(),
			"phone": $('#req-phone').val(),
			"memo": $('#req-memo').val()
		};
		Users.cloud.requestCS(cs_data, function(res) {
			if (res.code != 200) {
				mAlert('문의등록 중 오류가 발생했습니다.' + res.code, 'danger');
				return false;
			} else {
				mAlert("고객님의 소중한 문의가 전달되었습니다.", 'success', 3000, function(){ goUrl('/'); });
				return true;
			}
		});
	});
});

function confirmSecession() {
	mConfirm.set({
		'beforeShow': function(opts) {
			$('#modal-confirm .confirm').html('탈퇴')
				.removeClass('btn-primary')
				.addClass('btn-danger');
		},
		'onConfirm': function(opts) {
			Users.cloud.secession(function(res){
				mAlert('탈퇴처리가 완료되었습니다.', 'success', 3000, usersLogout);
			});
		}
	}).show("탈퇴 처리를 진행하시겠습니까? 탈퇴처리 후 즉시 고객님의 계정과 관련된 정보들이 모두 삭제되므로 처리 후에는 복구되지 않습니다.");
}
</script>
</body>
</html>
