<%
    var index = 1;
    data.forEach(function(a) {
%>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="notice-<%=index%>">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#article-<%=index%>" aria-expanded="true" aria-controls="article-<%=index%>">
                    <%=a.attr.title%>
                    <% if (a.attr.new == 'new') { %>
                    <small style="color:#f90;">new</small>
                    <% } %>
                </a>
                <small class="pull-right"><%=a.attr.date%></small>
            </h4>
        </div>

        <div id="article-<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="notice-<%=index%>">
            <div class="panel-body">
                <%- a.attr.detail.replace(/\n/g, '<br/>') %>
            </div>
        </div>
    </div>
<%
        index++;
    });
%>
