<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

  <div class="container">
      <div class="row main-banner push-up">
          <img src="" data-name="B_RANKING_001.jpg" width="100%">
      </div>
  </div>

  <div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" class="<%=(ranking_id == 'ranking.weekly')?'active':''%> col-xs-6 text-center">
              <a href="/ranking/weekly">주간</a>
          </li>
          <li role="presentation" class="<%=(ranking_id == 'ranking.monthly')?'active':''%> col-xs-6 text-center">
              <a href="/ranking/monthly">월간</a>
          </li>
        </ul>

        <div class="items-top clearfix" style="background-color:#fff;">
      		<div class="col-xs-6">
      			<p style="padding:8px 0;margin:0;">
                    <span class="today-date"></span> 0시 기준
                </p>
      		</div>
      		<div class="col-xs-6 text-right">
      			<div class="form-inline" id="genre-selector"></div>
      		</div>
        </div>
    </div>

	<div id="series-list"></div>
    <div class="no-series" style="display:none;">
        <h4 class="text-center" style="padding:40px 0;color:#ccc;">작품이 없습니다</h4>
    </div>
  </div>

  <div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
$(function(){

	loadGenreSelector($('#genre-selector'), 'k');
    Catalogs.loadImages($('.main-banner img'));
    $('.today-date').text(getDateFormat(Date.now() / 1000, 'y.m.d'));

  	Catalogs.auxiliary('<%=ranking_id%>', {"location": 0, "length": 50, "sort": "id,ASC"}, function(series) {
		$('.items-count').text(series.length);
        var series_ids = [];
        series.forEach(function(s) { series_ids.push(s.series); });

        Catalogs.seriesMetaData(series_ids, function(metas) {
			series.forEach(function(s) {
				var id = s.series;
				s['high-resolution'] = metas[id]['high-resolution'] || '';
				s['finished'] = metas[id]['finished'] || '';
			});

			Catalogs.renderIn($('#series-list'), '/r/series/list-k', {'data': series});
		});
	});

});

function changeRankingByGenre(code) {
	var label = $('[data-code="'+ code +'"]').html();
	var items_count = 0;

	$('#genre-label').text(label);
    $('.no-series').hide();

	if (code == '') { // 전체장르
		$('.items-count').text($('.media .cover').length);
        $('#series-list .media .rank-number').each(function(i, r){ $(this).text(i+1); });
		$('#series-list .media').show();
        $('#series-list .cover').lazyload({ effect: "fadeIn" });
        return;
	}

	$('#series-list .media').each(function(i, s) {
		if ($(this).find('.genre').attr('data-genre') == code) {
            $(this).find('.rank-number').text(items_count + 1);
			$(this).show();
			items_count++;
		} else {
            $(this).hide();
        }
	});

	$('.items-count').text(items_count);
    $('#series-list .cover').lazyload({ effect: "fadeIn" });
    if (items_count == 0) $('.no-series').show();
}
</script>
</body>

</html>
