<% include ../../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../../layouts/nav-global %>

	<div class="container" style="position:relative;">
        <img id="main-image" data-name="B_EVENT_007_1.jpg" width="100%">
		<div style="position:absolute;z-index:100;width:80%;top:85%;left:10%;">
			<button type="button" class="btn btn-primary btn-block btn-lg" onclick="submitEvent('E_0119_000000001');return false;">
				이벤트 참여하기
			</button>
		</div>
	</div>

    <div class="push"></div>
</div>
<% include ../../layouts/footer %>

<script>
$(function(){
    Catalogs.loadImages($('#main-image'));
});

function submitEvent(event_id) {
<% if (user) { %>
	Users.submitEvent(event_id, function(res){
		if (res.code == 200) {
			mAlert('이벤트 참여가 완료되었습니다.', 'success', 2000, function(){ goUrl('/'); });
			return;
		} else {
			if (res.code == 409) {
				mAlert('이미 이벤트에 참여하셨습니다.', 'danger', 2000, function(){ goUrl('/'); });
			} else {
				mAlert('이벤트 참여 오류 발생: '+res.code, 'danger', 3000);
			}
		}
	});
<% } else { %>
	requiredLogin();
<% } %>
}
</script>
</body>
</html>
