<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">

		<div class="user-heading">
			<h3 class="default-color">
				<img src="/images/common/sidebar_icon_notice.svg"> 공지사항
			</h3>
			<hr/>
		</div>

		<div id="notice-wrap"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
	Catalogs.showcase('notice', null, loadArticles);
})
function loadArticles(res) {
	var articles = res.showcases;
	Catalogs.renderIn($('#notice-wrap'), '/r/notice/list-a', {'data': articles});
}
</script>
</body>
</html>
