<% include ../../layouts/head %>
<% var action_url = 'https://shop-test.bookjam.co.kr/adult/mobileindex.php' %>
<% if (headers['Device-Type'] == 'web') action_url = 'https://shop-test.bookjam.co.kr/adult/webindex.php' %>
<body>
<form name="adult-forward" id="adult-forward" method="post" action="<%=action_url%>">
<% for (key in headers) { %>
<input type="hidden" name="<%=key%>" value="<%=headers[key]%>">
<% } %>
</form>
<script>
$(function(){$('#adult-forward').submit();});
</script>
</body>
</html>
