<% include ../../layouts/head %>

<body>
<form name="charge-forward" id="charge-forward" method="post" action="https://shop-test.bookjam.co.kr/webIndex.php">
<input type="hidden" name="product_id" value="<%=product_id%>">
<% for (key in headers) { %>
<input type="hidden" name="<%=key%>" value="<%=headers[key]%>">
<% } %>
</form>
<script>
$(function(){$('#charge-forward').submit();});
</script>
</body>
</html>
