<% include ../layouts/head %>

<body>
<div class="content-wrapper">

<% include ../layouts/nav-global %>

	<div class="container">
		<div id="category-banner" class="row">
			<img src="" data-name="" width="100%">
		</div>
	</div>

	<div class="container">
		<div class="row main-top">
			<div class="col-xs-6">
				<p style="padding:20px 0;margin:0;">전체 (<span class="items-count">0</span>)</p>
			</div>
			<div class="col-xs-6 text-right"></div>
		</div>

		<div class="row" id="series-list"></div>
	</div>

	<div class="push"></div>
</div>
<% include ../layouts/footer %>

<script type="text/javascript">
var SERIES = [];

$(function(){
	Catalogs.showcase('event', {'id': ['<%=display_unit%>']}, getEvent);
});

function getEvent(res) {
	var evt = res.showcases[0];
	if (evt) {
		$('#category-banner img').attr('data-name', evt.attr.image);
		Catalogs.loadImages($('#category-banner img'));
		getEventSeries(evt.attr.category);
	}
}

function getEventSeries(category) {
	Catalogs.category(category, {"showcase": ["event.series"]}, function(cat) {
		var showcase_ids = [], series_ids = [];
		cat.categories.forEach(function(c) { showcase_ids.push(c.id); });
		Catalogs.auxiliary('event.series', {'id': showcase_ids}, function(series) {
			SERIES = series;
			$('.items-count').text(series.length);
			series.forEach(function(s) { series_ids.push(s.series); });
			Catalogs.seriesMetaData(series_ids, renderSeriesList);
		});
	});
}

function renderSeriesList(series) {
	SERIES.forEach(function(S){
		var id = S.series;
		S['high-resolution'] = series[id]['high-resolution'] || '';
		S['finished'] = series[id]['finished'] || '';
	});
	Catalogs.renderIn($('#series-list'), '/r/series/list-b', {'data': SERIES});
}
</script>
</body>
</html>
