<% include ../layouts/head %>

<body>
<% include ../layouts/nav-global %>

	<div class="container head-margin">
		<div class="row" id="series-info"></div>
	</div>

	<div class="visible-xs mobile-divider"></div>

	<div class="container" style="background-color:#fff;">
		<div class="row" style="padding:10px 0;margin-bottom:10px;border-bottom:1px solid #eee;">
			<div class="col-xs-6">
				전체 (<span class="items-total-count">0</span>)
			</div>
			<div class="col-xs-6 text-right">
				<a href="#sort-latest" onclick="sortItemList('latest');return false;" class="btn btn-default btn-xs">최신순</a>
				<a href="#sort-volume" onclick="sortItemList('oldest');return false;" class="btn btn-default btn-xs">출간순</a>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-6">
				<button type="button" class="btn btn-warning btn-block">
					선택 구매
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-success btn-block">
					전편 구매
				</button>
			</div>
			<div class="col-xs-12 text-right">
				<span class="help-block">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i> 이미 구매한 상품은 전편 구매시 제외됩니다.
				</span>
			</div>
		</div>
	</div>

	<div class="visible-xs mobile-divider"></div>

	<div class="container" id="series-items"></div>


<script type="text/javascript">
var SERIES_ID, ItemIDs = [], ProductIDs = [], HasItemIDs = [];
var expiredCheck;

$(function(){
	loadSerialInfo('<%=serial%>');
});

function loadSerialInfo(series_id) {
	Catalogs.showcase('everyday', { "id": [ series_id ] }, function(res) {
		$('#series-info').html('<img src="" data-name="' + res.showcases[0].attr['banner-image'] + '" class="banner" width="100%">');
		Catalogs.loadImages($('#series-info .banner'));
		loadSerialItems(res.showcases[0].series);
	});
}

function loadSerialItems(series_id) {
	Catalogs.showcase('books', { "series": [series_id], "offset": 0, "length": 30 }, function(res) {
		console.log(res);
		Catalogs.renderIn($('#series-items'), '/r/items/b', {'items': res.showcases}); //, loadHaveItems);
	});
}

	function renderSeriesItems(res) {
		Catalogs.renderIn($('#series-items'), '/r/items/a', {'items': res.items}, loadHaveItems);
	}

	function loadHaveItems() {
		Users.haveItems(function(res) {
			res.items.forEach(function(item) {
				if (ItemIDs.indexOf(item.item_id) > -1) {
					var button = $('button[data-item=' + item.item_id + ']')
						.removeClass()
						.addClass('btn btn-default btn-purchase')
						.text('보기');
					if (item.expired_at) button.attr('data-expired', item.expired_at);
					$('input[type=checkbox][value="'+item.item_id+'"]').remove();
					//checkItemAction(item.item_id);
				};
			});

			countRentalTimer();
			sortItemList('oldest');
			if ($('.btn-purchase[data-expired]').length > 0) expiredCheck = setInterval(countRentalTimer, 60000);
		});
	}

	function countRentalTimer() {
		var now = parseInt(Date.now() / 1000);
		$('.btn-purchase[data-expired]').each(function(i, b) {
			var remains = ($(this).attr('data-expired') - now) / 3600;
			if (remains < 0) {
				$(this).removeClass('btn-default').removeAttr('data-expired');
				if ($(this).attr('data-free') == 'yes') $(this).addClass('btn-info').text('무료');
				else $(this).addClass('btn-warning').text('구매');
			} else {
				remains = (remains > 1) ? Math.floor(remains) + '시간 남음' : Math.floor(remains * 60) + '분 남음'; // 버림
				$(this).text(remains);
			}
		});
	}
	/*
	function checkItemAction(item_id) {
		$.ajax({
			url: '/users/items/'+item_id,
			type:'GET',
			dateType: 'JSON',
			success: function(res) {
				console.log(res);
			}
		});
	}
	*/

function sortItemList(order_by) {
	var items = [];
	$('.product').each(function(i, m){
		items.push({ 'id': $(this).attr('id'), 'volume': $(this).attr('data-volume') });
	});
	if (order_by === 'latest') {
		items.sort(function(a, b) {
			return (a.volume < b.volume) ? 1 : (a.volume > b.volume) ? -1 : (a.volume < b.volume) ? 1 : -1;
		});
	}
	if (order_by === 'oldest') {
		items.sort(function(a, b) {
			return (a.volume > b.volume) ? 1 : (a.volume < b.volume) ? -1 : (a.volume > b.volume) ? 1 : -1;
		});
	}
	$.each(items, function(i, item) {
		$('#'+item.id).detach().appendTo($('#series-items'));
	});
}
</script>
</body>

</html>
